/**
 * Admin styles
 */
/*
 * Text Contrast
 */
/**
 * Color code
 */
:root {
  --mav-black: black;
  --mav-gray: rgba(0, 0, 0, 0.5);
  --mav-white: White; }

* {
  z-index: 0; }

/**
 * Font Stacks
 */
/**
 * THEME COLORS
 */
/**
 * Media Queries
 */
/**
 * SASS Variables
 */
/**
 * CSS Variables
 */
:root {
  /**
   * Layouts
   */
  --mav-gutter: 20px;
  --mav-gutter-xl: calc(var(--mav-gutter) * 4);
  --mav-gutter-lg: calc(var(--mav-gutter) * 2);
  --mav-gutter-sm: calc(var(--mav-gutter) / 2);
  --mav-gutter-xs: calc(var(--mav-gutter) / 4);
  /**
   * Colors
   */
  /* Brand colors */
  --mav-color-primary: #b31705;
  --mav-color-accent: #218b97;
  --mav-color-black: #464646;
  --mavc-black: #464646;
  --mav-color-off-white: #fafafa;
  --mav-color-highlight: yellow;
  --mav-color-site-background: #fafafa;
  --mav-color-site-header: #b31705;
  --mav-color-site-footer: var(--mav-color-accent);
  --mav-color-header-menu-background: var(--mav-color-primary);
  --mav-color-header-menu-background-hover: rgba(0,0,0,.2);
  --mav-color-border: #ddd;
  /**
   * Typography
   */
  --mav-font-weight-thin: 100;
  --mav-font-weight-light: 300;
  --mav-font-weight-regular: 400;
  --mav-font-weight-medium: 500;
  --mav-font-weight-bold: 700;
  --mav-font-weight-black: 900;
  --mav-font-size: 18px;
  --mav-font-size-xl: 1.4rem;
  --mav-font-size-lg: 1.2rem;
  --mav-font-size-sm: .8rem;
  --mav-font-size-xs: .6rem;
  --mav-font-size-subtitle-1: 16px;
  --mav-font-size-subtitle-2: 14px;
  --mav-font-size-button: 1rem;
  --mav-font-size-caption: 1rem;
  --mav-font-body: var(--mav-font-size);
  --mav-color-text-primary: rgba(0, 0, 0, 0.87);
  --mav-color-text-secondary: rgba(0, 0, 0, 0.6);
  --mav-color-text-primary-dark: #fafafa;
  --mav-color-text-secondary-dark: #ddd;
  --mav-color-text-hint: rgba(0, 0, 0, 0.38);
  --mav-color-body: rgba(0, 0, 0, 0.87); }
  @media only screen and (max-width: 480px) {
    :root {
      --mav-font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    :root {
      --mav-site-width: 1680px; } }

/**
 * Keyframe animations
 */
@keyframes mav-brand-color-transition {
  0% {
    background-color: var(--mav-color-primary); }
  50% {
    background-color: var(--mav-color-accent); }
  100% {
    background-color: var(--mav-color-primary); } }
@keyframes mav-brand-color-transition-text {
  0% {
    color: var(--mav-color-primary); }
  50% {
    color: var(--mav-color-accent); }
  100% {
    color: var(--mav-color-primary); } }
@keyframes mav-brand-color-transition-reversed {
  0% {
    background-color: var(--mav-color-accent); }
  50% {
    background-color: var(--mav-color-primary); }
  100% {
    background-color: var(--mav-color-accent); } }
@keyframes mav-brand-color-dark {
  0% {
    background-color: var(--mav-color-primary); }
  100% {
    background-color: var(--mav-color-primary); } }
#wpcontent {
  padding-right: 20px; }
  @media only screen and (max-width: 480px) {
    #wpcontent {
      padding-right: 10px; } }

.mav-admin-page-wrapper .mav-admin-page-container {
  background: white;
  margin-top: var(--mav-gutter-lg);
  padding: var(--mav-gutter); }
.mav-admin-page-wrapper h1 {
  font-size: 2rem;
  line-height: 1.2; }
.mav-admin-page-wrapper .mav-grid {
  display: grid; }
  .mav-admin-page-wrapper .mav-grid[data-grid-gap] {
    grid-gap: var(--mav-gutter-sm); }
@media only screen and (min-width: 1024px) {
  .mav-admin-page-wrapper .mav-admin-page-wrapper {
    max-width: 40vw; } }
@media only screen and (min-width: 1024px) {
  .mav-admin-page-wrapper .mav-admin-site-settings-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--mav-gutter); } }
.mav-admin-page-wrapper .mav-brand-logo-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--mav-gutter-sm); }
.mav-admin-page-wrapper form label {
  max-width: max-content; }
.mav-admin-page-wrapper form .form-table {
  margin: var(--mav-gutter) 0;
  box-shadow: 0 1px #888; }
  .mav-admin-page-wrapper form .form-table:last-of-type {
    box-shadow: none; }
  @media only screen and (min-width: 1024px) {
    .mav-admin-page-wrapper form .form-table {
      max-width: 50vw; } }
  .mav-admin-page-wrapper form .form-table tr {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: var(--mav-gutter-sm);
    padding: var(--mav-gutter) 0; }
    .mav-admin-page-wrapper form .form-table tr:last-of-type {
      box-shadow: none; }
    .mav-admin-page-wrapper form .form-table tr:last-child {
      margin-bottom: var(--mav-gutter); }
    @media only screen and (max-width: 480px) {
      .mav-admin-page-wrapper form .form-table tr {
        display: flex;
        flex-direction: column; } }
  .mav-admin-page-wrapper form .form-table th, .mav-admin-page-wrapper form .form-table td {
    display: flex;
    flex-direction: column;
    padding: var(--mav-gutter-sm) 0;
    justify-content: center; }
  .mav-admin-page-wrapper form .form-table td {
    margin-bottom: 0; }
.mav-admin-page-wrapper .mav-admin-desc {
  margin-top: var(--mav-gutter-xs);
  font-size: var(--mav-font-size-sm);
  color: var(--mav-color-text-secondary); }
.mav-admin-page-wrapper .mav-range-slider-ctn {
  display: flex;
  justify-content: space-between; }
.mav-admin-page-wrapper #mavid-settings-preview img {
  max-width: 30%; }
@media only screen and (max-width: 480px) {
  .mav-admin-page-wrapper #mavid-settings-preview {
    max-width: 100%; }
    .mav-admin-page-wrapper #mavid-settings-preview img {
      max-width: 100%; } }
.mav-admin-page-wrapper .mav-desc {
  color: var(--mav-color-text-secondary); }

/*# sourceMappingURL=mav-admin-styles.css.map */
