/**
 * Uni Slider
 * ==========
 */

// Slider wrapper
.mav-slider__wrp {
    position: relative;
    overflow: hidden;
}
// Slider container
.mav-slider__ctn {
}

// Slides wrapper
.mav-slider__slides--wrp {
    position: relative;
    overflow: hidden;
}
// Slides container
.mav-slider__slides--ctn {
    position: relative;
    display: grid;
    transition: all 1s ease-in-out;
    @media #{$mav-tablet} {
        max-height: 50vh;
    }
    @media #{$mav-phone} {
        max-height: 70vh;
    }
}

// Item Wrapper
.mav-slider__slide--wrp {
    position: relative;
    display: flex;
    box-sizing: border-box;
    transition: filter .6s ease-in-out;
    img {
        filter: grayscale(1);
    }
    &[data-active-slide] {
        img {
            filter: grayscale(0);
        }
    }
}
// Item Container
.mav-slider__slide--ctn {
    position: relative;
    height: 100%;
    width: 100%;
}

// Item Image Wrapper
.mav-slider__slide__image--wrp {
}
// Item Image container
.mav-slider__slide__image--ctn {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Slide Title Wrapper
.mav-slider__slide__title-wrp {
}
// Slide Title Container
.mav-slider__slide__title-ctn {
}
// Slide Title
.mav-slider__slide--title {
    position: relative;
    color: red;
}

// Slider Nav Buttons
// ==================
.mav-slider__nav__arrow--wrp {
    display: flex;
    @media #{$mav-desktop} {
        &:hover {
            .mav-slider__preview--wrp {
            }
            .mav-slider__nav--icon {
                display: none;
            }
        }
    }
}

.mav-slider__nav__arrow--ctn {
    position: absolute;
    display: grid;
    align-items: center;
    height: 100%;
    &[data-direction="prev"] {
        top: 0;
        left: 0;
    }
    &[data-direction="next"] {
        top: 0;
        right: 0;
    }
}
.mav-slider__nav--arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba(white, .5);
    padding: var(--mav-gutter--sm);
    &[data-direction="prev"] {
        padding-left: 0;
        .mav-slider__nav--icon {
            margin-left: var(--mav-gutter--sm);
        }
    }
    &[data-direction="next"] {
        padding-right: 0;
        .mav-slider__nav--icon {
            margin-right: var(--mav-gutter--sm);
        }
    }
}

.mav-slider__preview--wrp {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
    @extend %mav-transition;
    figure {
        display: grid;
        position: relative;
        .mav-slider__nav--image {
            width: 150px;
            height: 100px;
            object-fit: cover;
        }
        figcaption {
            position: absolute;
            display: grid;
            width: 100%;
            height: 100%;
            align-items: center;
            text-align: center;
            background: rgba(black, .7);
            padding: var(--mav-gutter--sm);
            .mavjs-title {
                font-family: var(--mav-font__secondary);
                font-weight: var(--mav-font__weight--medium);
                color: white;
            }
        }
    }
    @media #{$mav-phone} {
        display: none;
    }
}
.mav-slider__preview--ctn {
}

.mav-slider__nav--image {
    object-fit: cover;
}

// Slider Nav Wrapper
.mav-slider__nav--wrp {
    background: transparent;
}

// Slider Nav Container
.mav-slider__nav--ctn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    &[data-position="inside"] {
        position: absolute;
        bottom: 0;
    }
}

.mav-slider__nav__dots--ctn {
    display: flex;
    background: beige;
    justify-content: center;
    width: max-content;
}

.mav-slider__nav--dot {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    width: 60px;
    height: 60px;
    background: white;
    border: 2px solid var(--mav-color--border);
    margin: 0 var(--mav-gutter--xs);
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &[data-active="1"] {
        border-color: var(--mav-color--primary);
    }
}