/**
 * Countdown
 */

.mav-countdown-ctn {
    @include mav-flex-center-all;
    max-width: var(--mav-site--width);
    overflow: hidden;
}
.mav-countdown-unit-wrapper {
    @include mav-flex-center-all;
    padding: var(--mav-gutter);
    box-shadow: 1px 0 var(--mav-color--border);
    &:last-child {
        box-shadow: none;
    }
    @media #{$mav-phone} {
        flex-direction: column;
        padding: var(--mav-gutter--xs);
    }
}
.mav-countdown-unit {
    text-align: center;
    margin-right: var(--mav-gutter--xs);
    &[data-container] {
        @include mav-flex-center-all;
    }
    &[data-number] {
        font-size: 2rem;
        color: var(--mav-color__text--primary);
        @media #{$mav-phone} {
            font-size: 1.5rem;
        }
    }
    &[data-unit] {
        font-size: .8rem;
        padding: 3px 6px;
        border: 1px solid var(--mav-color--border);
        border-radius: 10%;
        text-transform: uppercase;
    }
}