/**
 * Footer Social Links
 */

.mav-footer-socials-wrapper, .mav-footer__socials--wrp {
    background: var(--mav-color--off-white);

    .mav-footer-socials-ctn, .mav-footer__socials--ctn {
        display: grid;
        grid-gap: var(--mav-gutter);
        align-items: center;
        padding: var(--mav-gutter);
        border-top: 1px solid var(--mav-color--border);
        font-family: var(--mav-font--secondary);
        color: initial;
        @extend %mav-flex-column;

        @media #{$mav-tablet-up} {
            grid-template-columns: max-content max-content;
            justify-content: center;
        }
    }
}

.mav-social-links, .mav-social__links {
    display: flex;
    flex-wrap: wrap;
    @media #{$mav-phone} {
        justify-content: center;
    }
    a {
        text-decoration: none;
    }
    li {
        @extend .mav-flex-center-all;
        width: 50px;
        height: 50px;
        @extend %mav-transition;
        background-color: white;
        border-radius: 50%;
        margin-right: var(--mav-gutter--sm);
        &:hover {
            background-color: var(--mav-color--accent);
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
/**
 * Footer Menu
 */
.mav-footer__menu--wrp {
    padding: var(--mav-gutter--lg) var(--mav-gutter);
}

.mav-footer__menu {

    ul { // lvl_1
        font-family: var(--mav-font--secondary);
        display: flex;
        margin-left: 0;
        padding-left: 0;

        li {
            margin-left: 0;
            list-style: none;
            line-height: 2;
            margin-right: var(--mav-gutter--lg);

            a {
                display: inline-block;
                font-weight: var(--mav-font__weight--bold);
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 0.5px;
                @extend %mav-transition;
                &:hover {
                    box-shadow: 0 1px var(--mav-color--border);
                }
            }

            ul { // lvl_2
                @extend .mav-flex-column;
                margin-top: var(--mav-gutter);

                li {
                    margin-right: 0;

                    a {
                        text-transform: unset;
                        font-weight: initial;

                        &:hover {
                            transform: translateX(var(--mav-gutter--sm));
                        }
                    }
                }

                ul { // lvl_3
                    margin: var(--mav-gutter--sm) 0 var(--mav-gutter) var(--mav-gutter);
                }
            }
        }
    }
}

/* Footer - Copyright */

.mav-footer-copyright-wrapper {
    background: var(--mav-color--accent);
}

.mav-footer-copyright-ctn {
    display: grid;
    grid-gap: var(--mav-gutter--xs);
    max-width: var(--mav-site--width);
    margin: 0 auto;
    padding: var(--mav-gutter--lg) var(--mav-gutter);
    font-family: var(--mav-font--secondary);
    font-size: var(--mav-font__size--sm);
    color: var(--mav-color__text--primary--dark);
}