.mav-post {
    /**
     * Post feature image
     */
    &-feature-image, &__feature-image {
        height: 40vw;
        background-position: center!important;
        background-size: cover!important;
        // box-shadow: inset 0 0 80px rgba(0,0,0,0.33);
        @media #{$mav-desktop} {
            // height: calc(100vh - 214px);
            background-attachment: fixed!important;
            &:after {
                position: absolute;
                display: grid;
                align-items: end;
                height: 15vh;
                width: 100%;
                bottom: 0;
                padding-bottom: var(--mav-gutter-sm);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
                color: var(--mav-color__text--primary--dark);
                @include mav-font-awesome;
                content: '\f078';
                font-size: var(--mav-font__size--xl);
            }
        }
        @media #{$mav-tablet} {
            height: 40vh!important;
        }
        @media #{$mav-phone} {
            display: none;
        }
    }

    &-header {
        text-align: center;
        background: #f4f4f5;
    }
    &-title-ctn {
        padding: var(--mav-gutter--lg) var(--mav-gutter);
        margin: 0 auto;
        @media #{$mav-tablet} {
            max-width: 80%;
        }
        @media #{$mav-desktop} {
            max-width: 50vw;
            padding: var(--mav-gutter--xl) 0;
        }
    }
    &-title {
        font-family: var(--mav-font--primary);
        font-weight: var(--mav-font__weight--regular);
        line-height: 1.2;
        word-wrap: break-word;
        @media #{$mav-tablet} {
            font-size: 48px;
        }
        @media #{$mav-phone} {
            font-size: 24px;
            font-weight: var(--mav-font__weight--bold);
        }
        b {
            font-weight: var(--mav-font__weight--black);
        }
    }
    .mav-post-excerpt {
        max-width: 80%;
        margin: 0 auto var(--mav-gutter--lg) auto;
        font-weight: var(--mav-font__weight--light);
        @media #{$mav-desktop} {
            max-width: 30vw;
            font-size: var(--mav-font__size--lg);
        }
    }
    &-info-ctn {
        display: grid;
        grid-template-columns: max-content auto max-content;
        margin: 0 auto;
        padding: var(--mav-gutter-lg) var(--mav-gutter);
        max-width: var(--mav-site--width);
        box-shadow: 0 -1px var(--mav-color--border);
        font-family: var(--mav-font--secondary);
        text-align: left;
        overflow: hidden;
        @media #{$mav-tablet} {
            padding: var(--mav-gutter-lg) var(--mav-gutter);
        }
        @media #{$mav-phone} {
            display: flex;
            flex-wrap: wrap;
            padding: var(--mav-gutter);
        }
        div {
            margin-right: var(--mav-gutter);
            white-space: nowrap;
            &:last-child {
                margin-right: 0;
                justify-self: end;
            }
            &:before {
                @extend %mav-font-awesome;
                margin-right: var(--mav-gutter--xs);
            }
        }
        .mav-category-list {
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;
            max-height: 3em;
            overflow: hidden;
            @media #{$mav-phone} {
                max-height: 6em;
            }
            li {
                list-style: none;
                margin-right: var(--mav-gutter--sm);
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .mav-post-footer-wrapper {
        background: var(--mav-color--off-white);
        .mav-post-footer-ctn {
            max-width: var(--mav-site--width);
            margin: 0 auto;
            display: grid;
            grid-gap: var(--mav-gutter--lg);
            padding: var(--mav-gutter--xl) var(--mav-gutter);
            h4 {
                font-size: 1rem;
                color: inherit;
                text-transform: uppercase;
                margin-bottom: var(--mav-gutter--sm);
                font-weight: var(--mav-font__weight--bold);
                letter-spacing: .5px;
            }
        }
    }

    &-navigation {
        display: flex;
        justify-content: space-between;
        @media #{$mav-phone} {
            display: flex;
            flex-direction: column;
        }
        a {
            max-width: max-content;
            text-decoration: none;
            padding: var(--mav-gutter--sm);
            border: 1px solid var(--mav-color--border);
            border-radius: 4px;
            transition: all .15s;
            &:hover {
                border-color: var(--mav-color--accent);
            }
            &:before, &:after {
                @extend %mav-font-awesome;
            }
            @media #{$mav-phone} {
                width: 100%;
                margin-bottom: var(--mav-gutter--sm);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &[rel="prev"] {
                justify-self: flex-start;
                &:before {
                    content: '\f104';
                    margin-right: var(--mav-gutter--sm);
                }
            }
            &[rel="next"] {
                justify-self: flex-end;
                text-align: right;
                &:after {
                    content: '\f105';
                    margin-left: var(--mav-gutter--sm);
                }
            }
        }
    }
}



.mav-post-info {
    &:before {
        display: inline-block;
        margin-right: var(--mav-gutter--sm)!important;
        @extend %mav-font-awesome;
        color: var(--mav-color__text--secondary);
    }
    &[data-type="category"] {
        &:before {
            content: '\f15c';
        }
    }
    &[data-type="date"] {
        &:before {
            content: '\f073';
        }
    }
    &[data-type="author"] {
        &:before {
            content: '\f2bd';
        }
    }
}

/**
 * Post Content
 */

.mav-post-content-wrapper {
    .mav-post-content-ctn {
        max-width: var(--mav-site--width);
        margin: var(--mav-gutter--xl) auto;
        @media #{$mav-phone} {
            padding: 0 var(--mav-gutter);
        }
        @media #{$mav-tablet} {
            max-width: 75vw;
        }
        @media #{$mav-desktop} {
            >   pre {
                display: block;
            }
            >   p,
                h1, h2, h3, h4, h5, h6,
                blockquote,
                ul,
                ol,
                dl,
                address,
                hr,
                table,
                pre,
                form,
                figure,
                twitterwidget {
                    max-width: 720px;
                    margin-left: auto;
                    margin-right: auto;
                }
            .wp-block-gallery {
                max-width: unset;
            }
        }
    }
}

.mav-post-content {
    h2, .mav-h2 {
        font-weight: var(--mav-font__weight--bold);
        margin-top: 1em;
        margin-bottom: .5em;
    }
    h3, .mav-h3 {
        margin-top: 1em;
        margin-bottom: .25em;
    }

    h2, h3 {
        &:first-child {
            margin-top: 0;
        }
    }

    p {
        font-weight: var(--mav-font__weight--regular);
        margin: 1.5em 0;
        line-height: 1.75;
        &:first-child, &:only-child {
            margin-top: 0;
        }
        &:last-child, &:only-child {
            margin-bottom: 0;
        }
        pre, code {
            margin: 0;
        }
        // Wordpress class
        &.attachment {
            @extend .mav-flex-center-all;
        }
    }

    ol, ul {
        li {
            margin-left: 2ch;
            line-height: 1.75;
        }
    }

    ol {
        li {
            // line-height: 1.75em;
            ol {
                // margin-top: 0;
                li {
                    // margin-left: 2ch;
                }
            }
        }
    }
    ul {
        li {
            // line-height: 1.75em;
            // margin-left: 2ch;
            ul {
                // margin-top: 0;
            }
        }
    }

    figure {
        // margin-bottom: var(--mav-gutter);
        max-width: 100%;
        img {
            padding: 0;
        }
    }
    figure[id*="attachment"] {
        // margin: 0 auto;
    }

    img {
        height: auto;
        max-width: 100%;
        object-fit: contain;
        padding: var(--mav-gutter-sm) 0;
        &.aligncenter {
            display: flex;
            margin: 0 auto;
        }
    }

    .alignleft {
        float: left;
        margin-right: var(--mav-gutter);
    }
    .alignright {
        float: right;
        margin-left: var(--mav-gutter);
    }
    .aligncenter {
        margin: 0 auto;
    }
    .alignwide {
        iframe {
            width: 100%;
        }
    }
    p > img:only-child {
        float: none;
        position: relative;
        margin-left: auto;
    }
    // figure.alignleft, figure.alignright  {
    //     float: none;
    // }
    // figure.alignleft {
    //     margin: 0;
    //     margin-right: auto;
    // }
    // img.alignright {
    //     display: grid;
    //     float: none;
    //     margin: 0;
    //     padding: 0;
    //     margin-left: auto;
    // }
    iframe {
        max-width: 100%;
    }

    /**
     * Block Quote
     */
    blockquote {
        display: flex;
        flex-direction: column;
        // margin: var(--mav-gutter--lg) 0;
        padding: var(--mav-gutter--sm) var(--mav-gutter-lg);
        box-shadow: inset var(--mav-gutter--sm) 0 var(--mav-color--accent);
        p {
            // font-size: var(--mav-font__size--lg);
            font-weight: var(--mav-font__weight--light);
            font-size: var(--mav-font__size--xl);
            margin-bottom: 0;
        }
        pre, code {
            margin: 0;
        }

        // WordPress Gutenberg Style
        &.wp-block-pullquote, .mav-pullquote {
            font-family: var(--mav-font--secondary);
            padding: 0;
            margin: var(--mav-gutter--xl) auto;
            border: 1px solid var(--mav-color--border);
            box-shadow: none;
            &:before, &:after {
                display: block;
                @extend %mav-font-awesome;
                color: var(--mav-color--accent);
                background: var(--mav-color--off-white);
                margin: 0 auto;
                padding: var(--mav-gutter--sm);
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
            }
            &:before {
                content: '\f10d';
                margin-bottom: var(--mav-gutter--sm);
                transform: translateY(-50%);
            }
            &:after {
                content: '\f10e';
                margin-top: var(--mav-gutter--sm);
                transform: translateY(50%);
            }
        }
    }
    cite, .mav-quote-author {
        font-family: var(--mav-font--secondary);
        font-weight: var(--mav-font__weight--bold);
        white-space: nowrap;
        &:before {
            display: inline-block;
            content: "—";
            margin-right: var(--mav-gutter--xs);
        }
    }

    /**
     * Definition Lists
     */
    dl {
        // Title
        dt {
            font-weight: var(--mav-font__weight--bold);
            margin-top: var(--mav-gutter);
            font-size: var(--mav-font__size--lg);
            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    /**
     * Address Tag
     */
    address {
        margin-bottom: 1rem;
        padding-left: var(--mav-gutter);
        border-left: 3px solid var(--mav-color--accent);
    }

    .wp-block-gallery {
        figure {
            max-width: 100%;
            margin: 0;
        }
    }

    .gallery {
        figure.gallery-item {
            max-width: unset;
            margin: 0;
        }
    }
}

/**
 * Sticky post
 */

.mav-blog-sticky-post-ctn article.sticky {
    .mav-card-post-header {
        &:before {
            position: absolute;
            z-index: 1;
            @extend .mav-flex-center-all;
            @extend %mav-font-awesome;
            content: '\f06d';
            height: var(--mav-gutter);
            width: var(--mav-gutter);
            padding: var(--mav-gutter--sm);
            border-radius: 50%;
            background: var(--mav-color--primary);
            color: var(--mav-color__text--primary--dark);
            animation: mav-brand-color-transition 2s infinite;
            transform: translate(var(--mav-gutter--sm),var(--mav-gutter--sm));
        }
    }
    .mav-card-post-thumbnail {
        filter: grayscale(0);
    }
}

/**
 * Post gallery
 */

.gallery {
    display: grid;
    grid-gap: var(--mav-gutter--sm);
    figure {
        .gallery-icon {
            height: 100%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .gallery-item {
        position: relative;
        figcaption {
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,0.3);
            padding: var(--mav-gutter--sm);
            max-height: 100%;
            overflow: hidden;
            width: 100%;
            color: var(--mav-color__text--primary--dark)
        }
    }
}

@for $columns from 1 to 9 {
    .gallery-columns-#{$columns}, .columns-#{$columns} {
        grid-template-columns: repeat(#{$columns},1fr);
    }
}

/**
 * Post Tags
 */
.mav-tag-list {
    @extend .mav-flex-row;
    flex-wrap: wrap;
    font-family: var(--mav-font--secondary);
    li {
        display: inline-flex;

        margin: 0;
        margin-right: var(--mav-gutter--sm);
        margin-top: var(--mav-gutter--xs);

        border: 1px solid var(--mav-color--border);
        border-radius: 3px;

        @extend %mav-transition--fast;
        &:hover {
            border-color: transparent;
            background: var(--mav-color--accent);
            a {
                @include text-contrast($mav-color--accent);
            }
        }
        &:last-child {
            margin-right: 0;
        }
        a {
            display: flex;
            align-items: center;
            padding: var(--mav-gutter--xs);
            font-size: var(--mav-font__size--sm);
            text-decoration: none;
            text-transform: lowercase;
            &:before {
                @extend %mav-font-awesome;
                content: '\f292';
                margin-right: var(--mav-gutter--xs);
                font-size: var(--mav-font__size--xs);
            }
        }
    }
}

/**
 * Related Posts
 */

.mav-related-posts-wrapper {
    padding: var(--mav-gutter--xl) var(--mav-gutter--sm);
    background: var(--mav-color__site--background);
    @media #{$mav-phone} {
        padding: var(--mav-gutter--lg) 0;
    }
}


/**
 * Post attachment page
 */

.mav-post-attachment-wrapper {
    @extend .mav-flex-center-all;
    padding: var(--mav-gutter--lg);
}

figcaption {
    font-family: var(--mav-font--secondary);
    font-size: var(--mav-font__size--sm);
    color: var(--mav-color__text--secondary);
}