/* 
 * Carousel
 */

 .mav-post-carousel-wrapper {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    @media #{$mav-phone} {
        margin: 0;
    }
}

.mav-post-carousel-nav-ctn {
    display: flex;
    position: relative;
    overflow: hidden;
}

.mav-post-carousel-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    @extend %mav-transition;
    color: $mav-color-text-dark-primary;
    background: $mav-color-brand-primary;
    opacity: 0;    
    &:before {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        @extend %mav-font-awesome;
        @extend %mav-transition;    
    }
    &:hover {
        border-radius: 50%;
        background: $mav-color-brand-accent;
        animation: mav-brand-color-transition 4s infinite;
    }
    &.show {
        opacity: 1;
    }
}

.mav-post-carousel-prev {
    left: 0;
    &:before {
        content: '\f053';
    }
    &:hover {
        &:before {
            transform: translateX(-4px);
        }
    }
}
.mav-post-carousel-next {
    right: 0;
    &:before {
        content: '\f054';
    }
    &:hover {
        &:before {
            transform: translateX(4px);
        }
    }
}

.mav-post-carousel-outer {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.mav-post-carousel-ctn {
    display: grid;
    grid-gap: var(--mav-gutter);
    transition: all .3s ease;
    .mav-card-wrapper {
        box-shadow: none;
        margin-bottom: 0;
    }
    .mav-card-post {
        box-shadow: none;
    }
}