.mav-post {
    display: grid;
    background: white;
    &-header {
        text-align: center;
    }
    &-title {
        margin: var(--mav-gutter-lg) var(--mav-gutter);
        @media #{$mav-phone} {
            font-weight: 600;
            text-align: left;
        }
    }
    /*
     * Post feature image
     */
    &-feature-image {
        height: 40vw;
        background-position: center!important;
        background-size: cover!important;
        @media #{$mav-desktop} {
            height: 25vw;
            background-attachment: fixed!important;
            box-shadow: inset 0 0 80px rgba(0,0,0,0.33);
        }
    }
    &-info-wrapper {
        @extend .mav-site-width;
    }
    &-info-ctn {
        margin: var(--mav-gutter);
        padding-bottom: var(--mav-gutter);
        box-shadow: 0 1px $mav-color-border;
        @media #{$mav-mobile} {
            flex-wrap: wrap;
            justify-content: center;
        }
        span {
            margin-right: var(--mav-gutter);
            white-space: nowrap;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                @extend %mav-font-awesome;
                margin-right: var(--mav-gutter-xs);
            }
        }
    }

    footer {
        padding: var(--mav-gutter-lg) 0;
        background: $mav-color-brand-accent;
        color: $mav-color-text-secondary-dark;
        .mav-post-footer-ctn {
            display: grid;
            grid-gap: var(--mav-gutter);
            h4 {
                margin-bottom: var(--mav-gutter-sm);
            }
        }
    }
    &-navigation {
        @extend .mav-flex-row;
        justify-content: space-between;
        @media #{$mav-phone} {
            flex-direction: column;
        }
        a {
            color: $mav-color-text-primary-dark;
            font-weight: 400;
            text-decoration: none;
            padding: var(--mav-gutter-sm);
            border: 1px solid $mav-color-border;
            border-radius: 4px;
            @extend %mav-transition;
            &:hover {
                background: $mav-color-brand-primary;
                border-color: $mav-color-brand-primary;
            }
            &:before, &:after {
                @extend %mav-font-awesome;
            }
            @media #{$mav-phone} {
                width: 100%;
                margin-bottom: var(--mav-gutter-sm);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &[rel="prev"] {
                align-self: flex-start;
                &:before {
                    content: '\f104';
                    margin-right: var(--mav-gutter-sm);
                }
            }
            &[rel="next"] {
                align-self: flex-end;
                text-align: right;
                &:after {
                    content: '\f105';
                    margin-left: var(--mav-gutter-sm);
                }
            }
        }
    }
}

.mav-post-tag-list {
    @extend .mav-flex-row;
    flex-wrap: wrap;
    li {
        display: flex;
        margin-right: var(--mav-gutter-sm);
        margin-bottom: var(--mav-gutter-sm);
        padding: var(--mav-gutter-sm);
        border: 1px solid $mav-color-border;
        border-radius: 4px;
        @extend %mav-transition;
        &:hover {
            background: map-get($mav-color, 'primary' );
            border-color: map-get($mav-color, 'primary' );
            a {
                @include text-contrast(map-get($mav-color, 'primary' ));
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        @extend .mav-font-xs;
        text-transform: lowercase;
        line-height: .5;
        text-decoration: none;
        color: $mav-color-text-primary-dark;
        &:before {
            content: '\f292';
            @extend %mav-font-awesome;
            margin-right: var(--mav-gutter-xs);
        }
    }
}

.mav-post-info {
    a {
        text-decoration: none;
    }
    &:before {
        @extend %mav-font-awesome;
        margin-right: .5em;
        font-size: inherit;
        color: $mav-color-text-hint;
    }
    &[data-type="category"] {
        &:before {
            content: '\f15c';
        }
    }
    &[data-type="date"] {
        &:before {
            content: '\f073';
        }
    }
    &[data-type="author"] {
        &:before {
            content: '\f2bd';
        }
    }
}

/*
 * Post Content
 */

.mav-post-content {
    /*
     * Headings
     */
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: 1em;
    }
    /*
     * Body
     */
    p {
        color: $mav-color-text-secondary;
        margin-bottom: 1.5em;
        /* Dropcap style */
        // &:first-child {
        //     &:first-letter{
        //         float: left;
        //         font-family: $font-roboto-slab;
        //         font-size: 5rem;
        //         line-height: 60px;
        //         padding-top: var(--mav-gutter-xs);
        //         padding-right: var(--mav-gutter-xs);
        //     }
        // }
        &:last-child {
            margin-bottom: 0;
        }
        &.attachment {
            /* Wordpress class */
            @extend .mav-flex-center-all;
        }
    }
    /*
     * Images
     */
    img {
        column-span: all;
        height: auto;
        max-width: 100%;
        max-height: 75vh;
        &.aligncenter {
            display: block;
            margin: 0 auto;
        }
    }
    /*
    * Block Quote
    */
    blockquote {
        display: flex;
        justify-content: center;
        margin: var(--mav-gutter-lg) auto;
        column-span: all;
        max-width: 50vw;
        background: rgba($mav-color-brand-accent,.1);
        box-shadow: inset var(--mav-gutter-xs) 0 $mav-color-brand-accent;
        @media #{$mav-phone} {
            max-width: 90vw;
        }
        p {
            position: relative;
            padding: var(--mav-gutter);
            font-family: $font-roboto-slab;
            font-size: 1.75rem;
            font-weight: 300;
            text-align: center;
            color: $mav-color-text-primary;
            &:first-child {
                &:first-letter{
                    float: none;
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    padding-top: 0;
                    padding-right: 0;
                }
            }
            &:before, &:after {
                display: inline-block;
                @extend %mav-font-awesome;
                color: darken($mav-color-brand-accent,0%);
            }
            &:before {
                content: '\f10d';
                margin-right: var(--mav-gutter-sm);
            }
            &:after {
                content: '\f10e';
                margin-left: var(--mav-gutter-sm);
            }
        }
        span.mav-quote-author {
            color: $mav-color-text-secondary;
            font-weight: 400;
            white-space: nowrap;
        }
    }
}

/*
 * Sticky post
 */

article.sticky {
    .mav-card-post-header {
        &:before {
            @extend .mav-flex-center-all;
            @extend %mav-font-awesome;
            position: absolute;
            z-index: 1;
            content: '\f06d';
            height: var(--mav-gutter-sm);
            width: var(--mav-gutter-sm);
            padding: var(--mav-gutter-sm);
            border-radius: 50%;
            background: $mav-color-brand-primary;
            color: $mav-color-text-primary-dark;
            animation: mav-brand-color-transition 2s infinite;
            transform: translate(var(--mav-gutter-sm),var(--mav-gutter-sm));
        }
    }
    .mav-card-post-thumbnail {
        filter: grayscale(0);
    }
}

/*
 * Post gallery
 */

.gallery {
    position: relative;
    display: grid;
    grid-gap: var(--mav-gutter-lg);
    justify-content: center;
    justify-items: center;
    margin: var(--mav-gutter) auto;
    padding: var(--mav-gutter-lg);
    box-shadow: 0 0 1px $mav-color-border;
    column-span: all;
    @media #{$mav-mobile} {
        grid-template-columns: repeat(2,1fr);
    }
    @media #{$mav-tablet} {
        grid-template-columns: repeat(3,1fr);
    }
    @media #{$mav-desktop} {
        grid-template-columns: repeat(auto-fit,minmax(10%,auto));
    }
    .gallery-item {
        @extend .mav-flex-center-all;
        flex-direction: column;
    }
}

/*
 * Related Posts
 */

.mav-related-posts-wrapper {
    margin: var(--mav-gutter-xl) auto;
}
.mav-related-posts-ctn {
    margin: var(--mav-gutter-xl) 0;
}

.mav-post-attachment-wrapper {
    @extend .mav-flex-center-all;
}