.mav-social-links {
    display: flex;
    .mav-social-icon {
        font-size: 1rem;
        color: var(--mav-color__text--primary);
    }
}

.mav-header-socials-wrapper {
    display: none;
    @media #{$mav-desktop} {
        display: flex;
        justify-self: end;
    }
    .mav-header-socials-ctn {
        .mav-social-links {
            li {
                list-style-type: none;
                margin-right: var(--mav-gutter--lg);
                a {
                    text-decoration: none;
                }
            }
        }
    }
}