button {
    margin: 0;
    padding: 0;
    border: none;

    background: transparent;

    color: inherit;

    font-family: var(--mav-font--secondary);
    // font-weight: var(--mav-font__weight--bold);

    cursor: pointer;

    a {
        height: 100%;
        width: 100%;
        text-decoration: none;
    }

    &[data-full-width] {
        width: 100%;
    }
}

%mav-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--mav-color--primary);

    background: transparent;

    text-transform: uppercase;
    letter-spacing: 0.5px;

    cursor: pointer;

    @extend %mav-transition;
    a {
        @extend %mav-transition;
    }
}

.mav-btn {
    @extend %mav-btn;
}

/**
 * Theme Buttons
 */

.mav-btn {
    &-primary, &__primary {
        @extend .mav-btn;
        background: var(--mav-color--primary);
        color: white;
        a {
            padding: var(--mav-gutter--sm);
        }
        &:hover {
            a {
                background: rgba(black,.3);
            }
        }
        // Large button
        &-lg, &--lg {
            @extend .mav-btn__primary;
            // letter-spacing: 1px;
            a {
                padding: var(--mav-gutter);
            }
        }
    }
    &-secondary, &__secondary {
        @extend .mav-btn;
        color: var(--mav-color__text--primary);
        a {
            padding: var(--mav-gutter--sm);
        }
        &-lg {
            @extend .mav-btn-secondary;
            letter-spacing: 1px;
            a {
                padding: var(--mav-gutter);
            }
        }
    }
    &-cta {
        @extend .mav-btn;
        width: 100%;
        margin: 0 auto;
        border-width: 0;
        background: var(--mav-color--accent);
        @include text-contrast($mav-color--accent);
        font-size: 1rem;
        text-transform: uppercase;
        @extend %mav-transition;
        letter-spacing: 1px;
        a {
            padding: var(--mav-gutter);
        }
    }
    &-close {
        cursor: pointer;
        &:after {
            content: "×";
            font-size: 2rem;
        }
    }
}

.mav-btn-top, .mav-btn-back {
    width: 40px;
    height: 40px;
    @extend .mav-flex-center-all;
    background: var(--mav-color--accent);
    animation: mav-brand-color-transition 5s infinite;
    border-radius: 50%;
    opacity: 0;
    @extend %mav-transition;
    &:before {
        @extend %mav-font-awesome-solid;
        content: '\f0aa';
        font-size: 1.5rem;
        @include text-contrast($mav-color--accent);
        @extend %mav-transition;
    }
    &:hover {
        background: var(--mav-color--primary);
        &:before {
            transform: translateY(-2px);
        }
    }
}

// Button - To Top
.mav-btn-top {
    visibility: hidden;
}

// Button - Go Back
// For mobile devices
.mav-btn-back {
    opacity: 1;
    animation: mav-brand-color-transition-reversed 5s infinite;
    &:before {
        content: '\f0a8';
    }
    &:hover {
        &:before {
            transform: translateX(-2px);
        }
    }
    @media #{$mav-desktop} {
        opacity: 0;
        visibility: hidden;
    }
}

.mav-link__read_more {
    font-family: var(--mav-font--secondary);
    font-size: var(--mav-font__size--sm);
    font-weight: var(--mav-font__weight--bold);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--mav-color--primary);
}