table {
    margin: var(--mav-margin) auto;
    caption {
        margin-bottom: var(--mav-gutter);
        font-weight: bold;
    }
    thead {
        padding: var(--mav-gutter-xs);
        background: var(--mav-color-primary);
        @include text-contrast($mav-color-primary);
    }
    tbody {
    }
    tfoot {
        font-weight: bold;
    }
    th, td {
        padding: var(--mav-gutter-sm);
        border: 1px solid var(--mav-color-border);
        text-align: left;
        vertical-align: middle;
    }
    th {
        font-weight: var(--mav-font-weight-medium);
    }
    tr {
        &:nth-child(even) {
            background: var(--mav-color-off-white);
        }
        &:hover {
            background: var(--mav-color-accent);
            @include text-contrast($mav-color-accent);
        }
    }
}