#mavid-site-logo {
    img {
        display: block;
        height: 40px;
        @media #{$mav-desktop} {
            height: 60px;
        }
        &:hover{
            transform: scale(1)!important;
        }
    }
}
.mav-header-logo-ctn {
    @extend .mav-pg-ctn;
    @extend %mav-flex-row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: var(--mav-gutter-sm);
    padding-bottom: var(--mav-gutter-sm);
    @media #{$mav-mobile} {
        background: $mav-color-brand-accent;
        background: transparentize($mav-color-brand-accent,.05);
        @include text-contrast($mav-color-brand-accent);
    }
}

.mav-mobile-menu-icon {
    justify-self: start;
    @media #{$mav-desktop} {
        display: none;
    }
}

.mav-social-links {
    display: flex;
    .mav-social-icon {
        a {
            text-decoration: none;
        }
    }
}

.mav-header-socials-wrapper {
    display: none;
    @media #{$mav-desktop} {
        display: flex;
        justify-self: end;
    }
    .mav-header-socials-ctn {
        .mav-social-links {
            li {
                padding: 0 var(--mav-gutter-sm);
                a {
                    &:hover {
                        @extend %mav-hyperlink-text-accent;
                    }
                }
            }
        }
    }
}

.mav-footer-socials-wrapper {
    color: initial;
    background: white;
    padding: var(--mav-gutter-sm) 0;
    .mav-footer-socials-ctn {
        @extend %mav-flex-column;
        align-items: center;
        font-size: 1.25rem;
        span {
            text-align: center;
        }
        .mav-social-links {
            display: grid;
            grid-gap: var(--mav-gutter-sm);
            grid-template-columns: repeat(auto-fit,70px);
            justify-content: center;
            width: 100%;
            margin-top: var(--mav-gutter);
            .mav-social-icon {
                justify-self: center;
                @extend .mav-flex-center-all;
                width: 60px;
                height: 60px;
                padding: var(--mav-gutter-sm);
                border: 2px solid $mav-color-brand-accent;
                border-radius: 50%;
                @extend %mav-transition;
                &:hover {
                    @extend %mav-hyperlink-obj-accent;
                }
            }
            @media #{$mav-phone} {
                grid-template-columns: repeat(auto-fit,minmax(15%,20%));
            }
        }
    }
}

/*
 * Header Menu
 */

.mav-sec-header-menu {
    display: block;
    position: fixed; // for mobile menu
    width: 100%;
    background: $mav-color-header-menu-background;
    z-index: $mav-layer-top;
    @media #{$mav-desktop} {
        position: sticky;
        top: 0px; // Important for sticky position
    }
}

.mav-sticky-logo-wrapper {
    height: 100%;
    .mav-sticky-logo-ctn {
        position: absolute;
        display: flex;
        align-items: center;
        .mav-sticky-logo {
            visibility: hidden;
            opacity: 0;
            height: 0%;
            transform: translateY(-50%);
            @extend %mav-transition;
        }
        .show-logo {
            visibility: visible;
            height: 100%;
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.mav-header-menu-wrapper {
    @media #{$mav-desktop} {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: var(--mav-site-width);
        margin: 0 auto;
    }
}

.mav-header-menu-ctn {

    display: block;
    overflow-y: auto;

    ul { // lvl_1
        @extend %mav-flex-column;
        margin: 0;
        @media #{$mav-desktop} {
            flex-direction: row;
            background: rgba($mav-color-header-menu-background,.95);
        }
        li {
            @extend %mav-flex-column;
            box-shadow: 0 1px darken($mav-color-header-menu-background,5%);
            text-transform: uppercase;
            letter-spacing: 1px;
            list-style: none;
            @include text-contrast($mav-color-header-menu-background);
            @extend %mav-transition;
            @media #{$mav-desktop} {
                &:hover {
                    background: lighten(rgba($mav-color-header-menu-background,.95),5%);
                    .mav-submenu-icon[data-lvl="1"] {
                        &:after {
                            transform: rotate(180deg);
                            content: "\f078";
                        }
                    }
                    .mav-sub-menu[data-lvl="1"] {
                        max-height: 100vh!important;
                    }
                }
            }
            &.menu-item-home {
                @media #{$mav-mobile} {
                    display: none!important;
                }
                a:before {
                    @extend %mav-font-awesome;
                    @media #{$mav-desktop} {
                        content: '\f015';
                    }
                }
            }

            ul.mav-sub-menu { // lvl_2
                @extend .mav-flex-column;
                box-shadow: 0 -1px darken($mav-color-header-menu-background,5%);
                li {
                    @extend %mav-flex-column;
                    text-transform: initial;
                }
                @media #{$mav-mobile} {
                    background: darken(rgba($mav-color-header-menu-background,.95),10%);
                }
                @media #{$mav-desktop} {
                    box-shadow: none;
                    position: absolute;
                    margin-top: 64px;
                    border-radius: 0 0 5px 5px;
                }
                ul { // lvl_3
                    background: darken(rgba($mav-color-header-menu-background,.95),15%);
                    @media #{$mav-desktop} {
                        position: relative;
                        margin-top: 0;
                    }
                }
            }
        a {
            display: flex;
            padding: var(--mav-gutter);
            text-decoration: none;
            @extend %mav-transition;
            &:hover {
                @media #{$mav-mobile} {
                    box-shadow: inset 4px 0px darken(rgba($mav-color-header-menu-background,.95),20%);;
                }
            }
            &.mav-submenu-link {
                display: flex;
                justify-content: space-between;
            }
        }
        }
        .mav-submenu-icon {
            cursor: pointer;
            margin: 0 var(--mav-gutter);
            @include text-contrast($mav-color-header-menu-background);
            @media #{$mav-desktop} {
                margin: 0;
                margin-left: var(--mav-gutter-sm);
            }
            &:after {
                display: block;
                @extend %mav-font-awesome;
                @extend %mav-transition;
            }
            &[data-state="close"] {
                &:after {
                    content: "\f078";
                }
            }
            &[data-state="open"] {
                &:after {
                    transform: rotate(180deg);
                    // content: "\f077";
                    content: "\f078";
                }
            }
            &[data-lvl="2"][data-state="close"] {
                &:after {
                    content: "\f067";
                }
            }
            &[data-lvl="2"][data-state="open"] {
                &:after {
                    transform: rotate(45deg);
                    // content: "\f068";
                    content: "\f067";
                }
            }
        }
        .mav-sub-menu {
            max-height: 0;
            overflow: hidden;
            &.open {
                max-height: 100vh;
            }
            &[data-state="close"] {
                max-height: 0;
                overflow: hidden;
            }
            &[data-state="open"] {
                max-height: 100vh;
            }
        }
    }
}

/*
 * Footer Menu
 */

.mav-footer-menu-ctn {
    margin: var(--mav-gutter-lg) auto;
}

.mav-footer-menu {
    ul { // lvl_1
        @extend %mav-flex-column;
        margin-left: 0;
        li {
            margin-right: var(--mav-gutter);
            list-style: none;
            a {
                font-weight: 600;
                color: inherit;
                box-shadow: inset 0 -4px var(--mav-color-primary);
            text-decoration: none;

                &:hover {
                    color: #fafafa;
                }
            }
            ul { // lvl_2
                @extend .mav-flex-column;
                margin-top: var(--mav-gutter);
                li {
                    a {
                        color: #888;
                        font-size: .9rem;
                        font-weight: initial;
                        box-shadow: none;
                    }
                }
                ul { // lvl_3
                    margin-top: var(--mav-gutter-sm);
                    margin-bottom: var(--mav-gutter-sm);
                    margin-left: var(--mav-gutter);
                    li {
                        a {
                            color: #aaa;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
        @media #{$mav-desktop} {
            flex-direction: row;
        }
    }
    @media #{$mav-phone} {
        display: none;
    }
}

.mav-mobile-menu-icon {
    cursor: pointer;
    font-size: 1.25rem;
}