button {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
}

%mav-btn {
    display: flex;
    justify-content: center;
    padding: var(--mav-padding-sm) var(--mav-padding);
    border: 1px solid var(--mav-brand-color-primary);  
    border-radius: 4px;
    background: transparent;
    font-size: .85rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .075rem;
    cursor: pointer;
    @extend %mav-transition;
}

.mav-btn {
    @extend %mav-btn;
    @extend %mav-transition;    
    &:hover {
        @include text-contrast($mav-color-brand-primary);
        background: var(--mav-brand-color-primary);
    }
}

.mav-btn-solid {
    @extend %mav-btn;
    background: var(--mav-brand-color-primary);
    @include text-contrast($mav-color-brand-primary);
    &:hover {
        background: darken($mav-color-brand-primary,5%);
        @include text-contrast($mav-color-brand-primary);
        animation-delay: 1s;
        animation: mav-brand-color-dark 3s infinite;
    }
}

.mav-btn {
    &-close {
        &:before {
            content: '\f410';
            @extend %mav-font-awesome;
        }
    }
}

.mav-btn-top, .mav-btn-back {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($mav-color-brand-accent,.8);
    animation: mav-brand-color-transition 5s infinite;
    border-radius: 50%;
    opacity: 0;
    z-index: $mav-layer-top;
    transition: all .3s ease;
    @media #{$mav-desktop} {
        bottom: 20%;    
    }
    &:before {
        @extend %mav-font-awesome;
        content: '\f0aa';
        font-size: 1.5rem;
        @include text-contrast($mav-color-brand-accent);
        transition: all .3s ease;    
    }
    &:hover {
        background: rgba($mav-color-brand-primary,.8);
        &:before {
            transform: translateY(-2px);
        }
    }
}
.mav-btn-top {
    bottom: 15%;
    @media #{$mav-phone} {
        bottom: 17.5%;    
    }
}
.mav-btn-back {
    opacity: 1;    
    bottom: 10%;
    animation: mav-brand-color-transition-reversed 5s infinite;    
    &:before {
        content: '\f0a8';        
    }
    &:hover {
        &:before {
            transform: translateX(-2px);
        }
    }
    @media #{$mav-desktop} {
        opacity: 0;
    }
}

.mav-sec-btn-wrapper {
    display: flex;
    justify-content: center;
}