.mav-breadcrumbs-wrapper {
    background: var(--mav-color-site-background);
    box-shadow: 0 1px var(--mav-color-border);
    @media #{$mav-mobile} {
        display: none;
    }
}

.mav-breadcrumbs-ctn {
    max-width: var(--mav-site-width);
    padding: var(--mav-gutter);
    margin: 0 auto;
}
.mav-breadcrumbs {
    display: flex;
    li {
        list-style-type: none;
        margin-left: 0;
        margin-right: var(--mav-gutter-xs);
        &:last-child {
            margin-right: 0;
        }
    }
    .item-current, .item-home {
        color: var(--mav-color-text-primary);
    }
}