$mav-tab-border-color: #ddd;

.mav-tab-wrapper {
    position: relative;
    max-width: var(--mav-site-width);
    overflow-y: hidden;
    @media #{$mav-phone} {
        overflow-x: auto;
    }
}

.mav-tab-ctn {
    display: grid;
    grid-template-columns: repeat(auto,auto);
}

.mav-tab-trigger {
    display: flex;
    justify-content: center;
    padding: var(--mav-gutter-sm);
    background: rgba(0,0,0,.025);
    border-color: transparent;
    border-left-color: darkgray;
    border-bottom-color: $mav-tab-border-color;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    font-weight: 600;
    cursor: pointer;
    @extend %mav-transition;
    &:hover {
        color: var(--mav-color-text-primary);
        background: rgba($mavBlack,.05);
    }
    &[data-state="active"] {
        background: white;
        border-color: var(--mav-color-primary) $mav-tab-border-color transparent $mav-tab-border-color!important;
        + .mav-tab-content-wrapper {
            opacity: 1;
            z-index: $mav-layer-content;
        }
    }
}
.mav-tab-content-wrapper {
    opacity: 0;
    grid-area: content;
    padding: var(--mav-gutter);
    transition: all .1s ease;
    background: white;
    border-color: $mav-tab-border-color;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    z-index: -1;
}