/**
 * Anchor Tag
 */

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--mav-color--border);
    text-underline-position: under;
    &:hover {
        text-decoration-color: var(--mav-color--accent);
    }
}

.mav-link {
    &[data-link="external"] {
        &:after {
            display: inline-block;
            @extend %mav-font-awesome-solid;
            content: '\f35d';
            padding-left: var(--mav-gutter--xs);
            color: var(--mav-color__text--hint);
        }
    }
    &--dark {
        text-decoration-color: var(--mav-color--border);
        &:hover {
            text-decoration-color: var(--mav-color__text--primary--dark);
        }
    }
}

%#{$mavNS}-link-reset {
    a {
        box-shadow: none;
        font-weight: inherit;
        &:hover {
            background: unset;
            color: inherit;
        }
    }
}

%mav-font-awesome {
    font-family: $font-awesome;
}

%mav-font-awesome-solid {
    font-family: $font-awesome;
    font-weight: 900;
}

@mixin mav-font-awesome {
    font-family: $font-awesome;
}

@mixin mav-font-awesome-solid {
    font-family: $font-awesome;
    font-weight: 900;
}

.mav-fa-icon, .mav-fa__icon {
    margin-right: .25em;
}

.mav {
    &-no-break {
        white-space: nowrap;
    }
}

%mav-link {
    &-obj {
        background: var(--mav-color--primary);
        @include text-contrast($mav-color--primary);
        &-accent {
            background: var(--mav-color--accent);
            @include text-contrast($mav-color--accent);
        }
        &-bg {
            background: var(--mav-color--background);
        }
    }
    &-text {
        text-decoration: none;
        &-accent {
            color: var(--mav-color--accent);
        }
    }
}

/**
 * Site Global Settings
 */
body {
    font-family: var(--mav-font--primary);
    font-size: var(--mav-font--size);
    color: var(--mav-color__text--primary);
    line-height: 1.5;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
.#{$mavNS}-h1, .#{$mavNS}-h2, .#{$mavNS}-h3, .#{$mavNS}-h4, .#{$mavNS}-h5, .#{$mavNS}-h6 {
    font-family: var(--mav-font--secondary);
    font-weight: var(--mav-font__weight--medium);
    b {
        font-weight: var(--mav-font__weight--black);
    }
    a {
        text-decoration: none;
    }
}

a {
    h1, h2, h3, h4, h5, h6,
    .mav-h1, .mav-h2, .mav-h3, .mav-h4, .mav-h5, .mav-h6 {
        text-decoration: none;
    }
}

h1, .mav-h1 {
    font-size: 4rem;
    @media #{$mav-phone} {
        font-size: 2.5rem;
    }
}

h2, .mav-h2 {
    font-size: 2rem;
}

h3, .mav-h3 {
    font-size: 1.75rem;
}

h4, .mav-h4 {
    font-size: 1.5rem;
}

h5, .mav-h5 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

h6, .mav-h6 {
    font-size: 1rem;
    text-transform: uppercase;
}

// Sub Headings

%mav-sub-heading {
    color: var(--mav-color__text--primary);
}

.mav-sub-heading-1 {
    @extend %mav-sub-heading;
    font-size: var(--mav-font__size--xl);
}
.mav-sub-heading-2 {
    @extend %mav-sub-heading;
    font-size: var(--mav-font__size--lg);
}
.mav-sub-heading-3, .mav-heading-over-line {
    @extend %mav-sub-heading;
    font-weight: var(--mav-font__weight--black);
    font-size: var(--mav-font__size--sm);
    text-transform: uppercase;
    letter-spacing: .5px;
}

/* Paragraph Tag */

p {
    text-overflow: ellipsis;
}

/**
 * Ordered List
 */
ol { // Top Lvl
    li {
        list-style-type: decimal;
        ol { // Lvl 2
            li {
                list-style-type: lower-alpha;
                ol { // Lvl 3
                    li {
                        list-style-type: decimal;
                        ol { // Lvl 4
                            li {
                                list-style-type: upper-alpha;
                            }
                        }
                    }
                }
            }
        }
        ul {
            > li {
                list-style: initial;
            }
        }
    }
}

/**
 * Unordered list
 */
ul { // Top lvl
    li {
        list-style-type: disc;
        ul { // Lvl 2
            li {
                list-style-type: circle;
                ul { // Lvl 3
                    li {
                        list-style-type: square;
                        ul { // Lvl 4
                            li {
                                list-style-type: disc;
                            }
                        }
                    }
                }
            }
        }
        ol {
            li {
                list-style-type: decimal;
            }
        }
    }
}

// Non-List
.#{$mavNS}-non-list {
    li {
        list-style: none;
        margin-left: 0!important;
    }
}

/**
 * SuperScript & SubScript
 * =======================
 */
sup, sub {
    display: inline-block;
    font-size: 70%;
}
// SuperScript
sup {
    transform: translateY(-30%);
}
// SubScript
sub {
    transform: translateY(10%);
}

/**
 * Keyboard Tag
 * ============
 */
kbd {
    padding: var(--mav-gutter--xs) var(--mav-gutter--sm);
    background: #444;
    color: var(--mav-color__text--primary--dark);
    font-family: $font-roboto-mono;
    font-weight: var(--mav-font__weight--medium);
    font-size: var(--mav-font__size--sm);
    white-space: nowrap;
    border-radius: 6px;
}

/**
 * Inline Quote Tag
 */
q {
    font-size: var(--mav-font__size--xl);
    &:before , &:after {
        display: inline-block;
        color: var(--mav-color--accent);
        @extend %mav-font-awesome-solid;
        font-size: var(--mav-font__size--xs);
    }
    &:before {
        content: '\f10d';
        margin-right: var(--mav-gutter--sm);
        transform: translateY(-20%);
    }
    &:after {
        content: '\f10e';
        margin-left: var(--mav-gutter--sm);
    }
}

/**
 * Small Tag
 */
small {
    font-size: var(--mav-font__size--sm);
}

/**
 * Variable Tag
 */
var {
    font-family: $font-roboto-mono;
    font-weight: var(--mav-font__weight--medium);
}

/**
 * Deleted Tag
 */
del {
    color: var(--mav-color__text--hint);
}

/**
 * Emphasis Tag
 */
em {
    font-style: italic;
}

/**
 * Pre & Code Tag
 */
pre, code {
    display: inline-block;
    font-family: $font-roboto-mono;
    font-weight: var(--mav-font__weight--medium);
    white-space: pre-wrap;
    word-wrap: break-word;
}

abbr {
    font-weight: var(--mav-font__weight--medium);
}

strong {
    font-weight: var(--mav-font__weight--bold);
}

/**
 * UTILITIES
 * =========
 */

.#{$mavNS}-text {
    // Text aligns
    @each $mavSide in (left, center, right, justify) {
        &--#{$mavSide} {
            text-align: #{$mavSide};
        }
    }

    // Text sizes
    @each $mavSize, $mavLineHeight in ( xl: 1.25, lg: 1.5, sm: 1.75, xs: 1.75) {
        &--#{$mavSize} {
            font-size: var(--mav-font__size--#{$mavSize});
            line-height: #{$mavLineHeight};
        }
    }

    // Text transforms
    @each $mavCase in (lowercase, uppercase, capitalize) {
        &--#{$mavCase} {
            text-transform: #{$mavCase};
        }
    }
}

.mav-text__intro {
    font-size: var(--mav-font__size--lg);
    @media #{$mav-phone} {
        font-size: 1rem;
    }
}

abbr, acronym {
    cursor: help;
}