.mav-tool-tip {
    opacity: 0;
    position: fixed;
    z-index: $mav-layer-top;
    padding: var(--mav-gutter-sm);
    border-radius: 4px;
    background: rgba($mav-color-brand-accent,.9);
    font-size: .8rem;
    @include text-contrast($mav-color-brand-accent);
    transition: opacity .3s ease;
}

.mav-type-writter-temp {
    &:after {
        content: '_';
        margin-left: .25ch;
    }
}

/**
 * Message Box
 */

.mav-message-box-wrapper {
    @include mav-flex-center-all;
    margin: var(--mav-gutter-sm) 0;
}

.mav-message-box-ctn {
    @extend %mav-flex-row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--mav-color-off-white);
    box-shadow: inset 4px 0px var(--mav-color-accent);
    span {
        padding: var(--mav-gutter-sm) var(--mav-gutter);
        color: var(--mav-color-text-primary);
        &.mav-btn-close {
            &:hover {
                color: var(--mav-color-accent);
            }
        }
    }
    @media #{$mav-desktop} {
        max-width: var(--mav-site-width);
        margin: 0 auto;
    }
}

.mav-blog-sticky-post-wrapper {
    background: var(--mav-color-off-white);
    .mav-blog-sticky-post-ctn {
        max-width: var(--mav-site-width);
        display: grid;
        grid-gap: var(--mav-gutter);
        justify-content: center;
        padding: var(--mav-gutter);
        @media #{$mav-tablet} {
            padding: var(--mav-gutter-lg);
            grid-template-columns: repeat(2,1fr);
        }
        @media #{$mav-desktop} {
            margin: 0 auto var(--mav-gutter) auto;
            grid-template-columns: repeat(3,1fr);
        }
    }
}

/**
 * Items Grid
 */

.mav-items-grid-ctn {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4,1fr);
    @media #{$mav-phone} {
        grid-template-columns: repeat(1,1fr)!important;
    }
}

.mav-items-grid-item-ctn {
    display: flex;
    flex-direction: column;
    padding: var(--mav-gutter-lg);
    border-left: 1px solid $mav-color-border;
    &[data-row="top"] {
        border-bottom: 1px solid $mav-color-border;
    }
    &[data-row="middle"] {
        border-bottom: 1px solid $mav-color-border;
    }
    &[data-column="left"] {
        border-left: 0;
    }
    @media #{$mav-phone} {
        padding: var(--mav-gutter);
        border: 0px!important;
        border-bottom: 1px solid $mav-color-border!important;
        &:last-child {
            border-bottom: 0!important;
        }
    }
}

/**
 * Mobile container
 */

.mav-mobile-ctn {
    @media #{$mav-phone} {
        max-height: 75vh;
        overflow-y: hidden;
        &:after {
            @include mav-flex-center-all;
            @include mav-font-awesome;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 20%;
            content: "\f078";
            font-size: 1.5rem;
            color: white;
            text-shadow: 0 1px 2px black;
            @include mav-background-gradient(top,rgba(black,.65));
            transition: font-size .1s ease;
        }
        &:hover{
            &:after{
                font-size: 2rem;
            }
        }
    }
}

/**
 * Container for scroll to top button
 */
.mav-bottom-container {
    position: fixed;
    display: grid;
    grid-gap: var(--mav-gutter-xs);
    bottom: 0;
    right: 0;
    padding: var(--mav-gutter);
    z-index: $mav-layer-top;
}

/**
 * Maintenance page styles
 */

.mav-page-maintenance {
    display: grid;
    grid-auto-rows: repeat(3,auto);
    min-height: 100vh;
    .mav-page-maintenance-section {
        padding: var(--mav-gutter-lg) var(--mav-gutter);
        text-align: center;
    }
    .mav-countdown {
        @media #{$mav-desktop} {
            @include mav-flex-center-all;
        }
        @media #{$mav-tablet} {
            @include mav-flex-center-all;
        }
        &[data-type="number"] {
            font-size: 2rem;
            color: var(--mav-color-text-primary);
        }
        &[data-type="unit"] {
            font-weight: 300;
        }
    }
    footer {
        align-self: end;
    }
}