/**
 * Post Card - Index Page
 */

.mav-card-wrapper, .mav-card--wrapper {
    position: relative;
    width: 100%;
}

.mav-card-ctn, .mav-card--ctn {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.mav-card-post, .mav-card--post {
    display: grid;
    height: 100%;
    background: white;
    overflow: hidden;
    border: 1px solid var(--mav-color--border);
    @extend %mav-transition;
        &:hover {
            box-shadow: 0 10px 40px #ccc;
        }

    &-header, &-content, &-footer {
        overflow: hidden;
    }

    &-header {
        display: flex;
        position: relative;
        overflow: hidden;
        box-shadow: 0 1px var(--mav-color--border);
        height: 20vh;
        @media #{$mav-tablet} {
            height: 20vw;
        }
        @media #{$mav-phone} {
            height: 40vw;
        }
    }

    &-thumbnail-wrapper {
        width: 100%;
        height: 100%;
    }

    &-thumbnail {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover!important;
        background-position: center center!important;
        background-repeat: no-repeat!important;
        @extend %mav-transition;
        filter: grayscale(1);
        &:hover{
            filter: grayscale(0);
            transform: scale(1.05);
        }
    }

    &-info-ctn {
        font-family: var(--mav-font--secondary);
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 1px #eee;
        padding-bottom: var(--mav-gutter--sm);
        @extend .mav-text--sm;
        a {
            margin-right: var(--mav-gutter--sm);
        }
    }

    &-content {
        // Card Header
        header {
            display: grid;
            padding: var(--mav-gutter);
            overflow: hidden;
            @media #{$mav-phone} {
                grid-template-rows: auto;
            }
        }
        // Card Title
        .mav-card-title-wrapper {
            display: block;
            overflow: hidden;
            padding: var(--mav-gutter);
            height: 10vh;
            @media #{$mav-phone} {
                height: 20vh;
            }
        }
        .mav-card-title {
            font-size: 1.25rem;
            font-weight: var(--mav-font__weight--bold);
            @media #{$mav-phone} {
                font-size: 1.15rem;
            }
        }
        // .mav-card-post-excerpt {
        //     position: relative;
        //     padding: 0 var(--mav-gutter);
        //     height: 5em;
        //     overflow: hidden;
        //     color: var(--mav-color-text-secondary);
        //     @media #{$mav-phone} {
        //         display: none;
        //     }
        // }
    }
    &-footer {
        padding: var(--mav-gutter);
        align-self: end;
    }
}

/**
 * Card Styles
 * ===========
 */

.mav-card {
    display: grid;
    position: relative;

    /* Card Header */
    header, .mav-card-header {
        display: block;
        height: 25vh;
    }

    // Thumbnail
    .mav-card-thumbnail-wrapper {
        .mav-card-thumbnail {
            display: block;
            width: 100%;
            height: 100%;
            background-size: contain!important;
            background-position: center center!important;
            background-repeat: no-repeat!important;
            @extend %mav-transition;
            @media #{$mav-desktop} {
                filter: grayscale(1);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }

    /* Card Content */
    .mav-card-content {
        background-color: var(--mav-color--off-white);
    }

    // Card Title
    .mav-card-title-wrapper {
        @extend .mav-flex-center-all;
        padding: var(--mav-gutter--lg) 0;
        background: white;
        .mav-card-title {
            text-align: center;
            font-size: 1.25rem;
            max-width: 80%;
        }
    }

    .mav-card-info-ctn {
        @extend .mav-flex-center;
        padding: var(--mav-gutter--sm);
        font-size: var(--mav-font__size--sm);
        .post-categories {
            @extend .mav-flex-center;
            flex-wrap: wrap;
            li {
                list-style-type: none;
                margin: var(--mav-gutter--xs) 0;
                margin-right: var(--mav-gutter--sm);
                &:last-child {
                    margin-right: none;
                }
            }
        }
    }

    /* Card Footer */
    footer, .mav-card-footer {
        padding: var(--mav-gutter--sm);
    }
}

/**
 * CPT: Portfolio
 * ==============
 */

.mav-card-cpt-portfolio {
    background: white;
    padding: var(--mav-gutter);
    @extend %mav-transition;
    &:hover {
        border-color: var(--mav-color--accent);
    }
    .mav-card-title-wrapper {
        padding: var(--mav-gutter) 0;
        min-height: 90px;
    }
    /* Card Footer */
    .mav-card-footer {
        @extend .mav-flex-center;
        .mav-tag-list {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

/**
 * CPT: Client
 * ==============
 */

.mav-card-client-wrapper {
    .mav-card-client-ctn {
        display: grid;
        align-content: center;
        border: 1px solid transparent;
        padding: var(--mav-gutter);
        height: 100%;
        @extend %mav-transition;
        &:hover {
            border-color: var(--mav-color--border);
        }
        @media #{$mav-mobile} {
            border-color: var(--mav-color--border);
        }
        figure {
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$mav-phone} {
                height: 30vw;
            }
            @media #{$mav-tablet} {
                height: 20vw;
            }
            @media #{$mav-desktop} {
                height: 10vw;
            }
        }
        img {
            width: 95%;
            height: 95%;
            object-fit: contain;
            object-position: center;
            @extend %mav-transition;
            @media #{$mav-desktop} {
                filter: grayscale(1);
                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }
}