.mav-slider-type-1-wrapper {
    overflow: hidden;
}

.mav-slider-type-1-ctn {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-gap: var(--mav-gutter-xs);
    grid-template-rows: 33vh 20vw;
    grid-template-areas:
    "main-display"
    "thumbnail";
    width: 100%;
    @media #{$mav-desktop} {
        grid-template-rows: 25vw 80px;
    }
    .mav-slide {
        height: 100%;
        background: var(--mav-color-site-background);
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
        .mav-slide-title {
            @include mav-flex-center-all;
            position: absolute;
            bottom: 0;
            opacity: 0;
            max-height: 0;
            @media #{$mav-phone} {
                top: 0;
            }
        }
    }
    .mav-first-slide {
        position: relative;
        overflow: hidden;
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-area: main-display;
        grid-column: 1/-1;
        width: 100%;
        height: 100%;
        filter: grayscale(0);
        transition: filter .3s ease;
        .mav-slide-title {
            text-shadow: 0 0 4px #222;
            font-weight: var(--mav-font-weight-bold);
            text-align: center;
            margin-bottom: var(--mav-gutter);
            opacity: 1;
            max-height: 100%;
            padding: var(--mav-gutter-sm);
            color: var(--mav-color-text-primary-dark);
            font-size: 2rem;
            background: rgba(0,0,0,.25);
            &:hover {
                color: white;
            }
            @media #{$mav-phone} {
                margin-bottom: 0;
                width: 100%;
                font-family: $font-roboto-cond;
                font-size: 1.75rem;
                line-height: 1.75rem;
            }
        }
    }
}

/**
 * Slider Type 2
 */
.mav-slider-type-2-wrapper {
    position: relative;
    width: 100%;
    height: 100vw;
    @media #{$mav-tablet} {
        height: 50vw;
    }
    @media #{$mav-desktop} {
        height: 30vw;
    }
}

.mav-slider-type-2-ctn {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .mav-slide {
        z-index: $mav-layer-background;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;
        transition: opacity .6s linear;
        overflow: hidden;
        opacity: 0;
        &.mav-active-slide {
            z-index: $mav-layer-image;
            opacity: 1;
        }
        .mav-slide-post-title-ctn {
            @extend .mav-flex-center-all;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30%;
            color: var(--mav-color-text-primary-dark);
            letter-spacing: 1px;
            @media #{$mav-phone} {
                height: 40%;
                background: transparent;
            }
            @media #{$mav-desktop} {
                opacity: 1;
                padding: var(--mav-gutter);
            }
            a {
                text-decoration: none;
            }
            .mav-slider-title {
                text-align: center;
                max-width: 75vw;
                color: var(--mav-color-text-primary-dark);
                text-shadow: 0px 0px 4px #222;
                background: rgba(0,0,0,.25);
                padding: var(--mav-gutter-sm);
                @extend %mav-transition;
                &:hover {
                    color: white;
                }
                @media #{$mav-phone} {
                    display: none;
                }
            }
        }
        .mav-slide-nav {
            @extend .mav-flex-center-all;
            z-index: $mav-layer-image;
            position: absolute;
            width: 60px;
            height: 100%;
            opacity: .75;
            font-size: 2rem;
            @extend %mav-transition;
            @extend %mav-font-awesome;
            color: var(--mav-color-text-primary-dark);
            cursor: pointer;
        }
        .slide-prev {
            left: 0;
            &:hover {
                transform: translateX(-20%);
            }
            &:before {
                content: '\f053';
            }
        }
        .slide-next {
            right: 0;
            &:hover {
                transform: translateX(20%);
            }
            &:before {
                content: '\f054';
            }
        }
    }

    .mav-slide-input {
        display: none;
    }
    input.mav-slide-input:checked {
        + .mav-slide {
            opacity: 1;
        }
    }

    .mav-slider-nav {
        position: absolute;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(1rem,2rem));
        justify-content: center;

        width: 100%;
        padding: var(--mav-gutter) 0;

        z-index: $mav-layer-image;

    }

    .mav-nav-dot {
        cursor: pointer;
        height: .75rem;
        width: .75rem;
        border-radius: 50%;
        background: rgba($mav-color-text-secondary-dark,.75);
        box-shadow: 0 0 5px currentColor;
        @extend %mav-transition;
        &:hover {
            transform: scale(1.2);
        }
    }

    .mav-active-dot {
        background: white;
        transform: scale(1.1);
    }
}

/**
 * Slider Type 3
 */

.mav-slider-type-3-wrapper {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    @media #{$mav-desktop} {
        height: 25vw;
    }
}

.mav-slider-type-3-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    .mav-slide {
        display: flex;
        flex: 1;
        align-items: flex-end;
        position: relative;

        margin-right: var(--mav-gutter-sm);

        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;

        transition: all .6s ease;
        overflow: hidden;

        filter: grayscale(1);
        &:last-child {
            margin-right: 0;
        }
        @media #{$mav-tablet} {
            &:nth-child(3) {
                flex: 3;
                filter: grayscale(0);
            }
        }
        @media #{$mav-desktop} {
            flex: 2;
            &:first-child {
                flex: 1;
            }
            &:last-child {
                flex: 1;
            }
            &:nth-child(3) {
                flex: 3;
                filter: grayscale(0);
            }
        }
        &:hover {
            flex: 4;
            filter: grayscale(0);
            width: 50%;
            transition: all .6s ease;
            > .mav-slide-title-ctn {
                transition: all .3s ease;
                transform: translateY(0);
                margin-bottom: var(--mav-gutter);
                @media #{$mav-phone} {
                    margin-bottom: 0;
                }
            }
        }
        .mav-slide-title-ctn {
            @extend .mav-flex-center-all;
            width: 100%;
            overflow: hidden;
            transition: all .3s ease;
            transform: translateY(100%);
            @media #{$mav-phone} {
                height: 100%;
            }
        }
    }
}