.mav-carousel {
    @extend .mav-flex-center-all;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    @media #{$mav-desktop} {
        max-width: var(--mav-site--width);
    }

    // Carousel Wrapper
    .mav-carousel-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        overflow: hidden;
        padding: var(--mav-gutter) 0;
        @media #{$mav-phone} {
            margin: 0 var(--mav-gutter--xs);
        }

        // Carousel Container
        .mav-carousel-ctn {
            position: relative;
            display: flex;
            width: 100%;
            transition: all .6s ease-in-out;

            // Carousel Item
            .mav-carousel-item {
                position: relative;
                flex: 0 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // Carousel Navigation
    .mav-carousel-nav-wrapper {
        position: relative;
        min-width: var(--mav-gutter--lg);
        min-height: var(--mav-gutter--lg);
        @media #{$mav-phone} {
            min-width: var(--mav-gutter);
            min-height: var(--mav-gutter);
        }

        .mav-carousel-nav {
            position: relative;
            @extend .mav-flex-center-all;
            width: var(--mav-gutter--lg);
            height: var(--mav-gutter--lg);

            font-size: 1.5rem;
            color: var(--mav-color__text--secondary);

            @extend %mav-transition;

            &:before, &:after {
                @extend %mav-font-awesome-solid;
                @extend %mav-transition;
            }
            &[data-direction="prev"] {
                &:before {
                    content: '\f053';
                }
                &:hover {
                    &:before {
                        transform: translateX(-4px);
                    }
                }
            }
            &[data-direction="next"] {
                &:after {
                    content: '\f054';
                }
                &:hover {
                    &:after {
                        transform: translateX(4px);
                    }
                }
            }

            @media #{$mav-phone} {
                font-size: 1rem;
                width: var(--mav-gutter);
                height: var(--mav-gutter);
            }
        }
    }
}

/*
 * Modified styles
 */

.mav-carousel {
    .mav-card__ctn {
        padding: var(--mav-gutter--xs);
        @media #{$mav-phone} {
            padding: 0;
        }
    }
    .mav-card__body__header--ctn {
        @media #{$mav-phone} {
            grid-template-columns: 1fr!important;
            grid-gap: var(--mav-gutter--xs)!important;
        }
    }
}