button {
    margin: 0;
    padding: 0;
    border: none;

    background: transparent;
    color: inherit;
}

%mav-btn {
    display: flex;
    justify-content: center;

    padding: var(--mav-gutter-sm) var(--mav-gutter);

    border: 1px solid var(--mav-color-primary);

    background: transparent;

    font-size: .85rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .075rem;

    cursor: pointer;

    @extend %mav-transition;
}

.mav-btn {
    @extend %mav-btn;
    @extend %mav-transition;
    &:hover {
        @include text-contrast($mav-color-primary);
        background: var(--mav-color-primary);
    }
}

.mav-btn-solid {
    @extend %mav-btn;
    @include text-contrast($mav-color-primary);
    background: var(--mav-color-primary);
    &:hover {
        background: transparent;
        color: var(--mav-color-text-primary);
    }
}

.mav-btn {
    &-close {
        cursor: pointer;
        &:after {
            content: "×";
            font-size: 2rem;
        }
    }
}

/**
 * Theme Buttons
 */

.mav-btn {
    &-primary {
        @extend .mav-btn-solid;
        padding: var(--mav-gutter);
    }
    &-secondary {
        @extend .mav-btn;
    }
}

.mav-btn-top, .mav-btn-back {
    width: 40px;
    height: 40px;
    @extend .mav-flex-center-all;
    background: var(--mav-color-accent);
    animation: mav-brand-color-transition 5s infinite;
    border-radius: 50%;
    opacity: 0;
    z-index: $mav-layer-top;
    @extend %mav-transition;
    &:before {
        @extend %mav-font-awesome;
        content: '\f0aa';
        font-size: 1.5rem;
        @include text-contrast($mav-color-accent);
        @extend %mav-transition;
    }
    &:hover {
        background: var(--mav-color-primary);
        &:before {
            transform: translateY(-2px);
        }
    }
}

.mav-btn-top {
    visibility: hidden;
}

.mav-btn-back {
    opacity: 1;
    animation: mav-brand-color-transition-reversed 5s infinite;
    &:before {
        content: '\f0a8';
    }
    &:hover {
        &:before {
            transform: translateX(-2px);
        }
    }
    @media #{$mav-desktop} {
        opacity: 0;
        visibility: hidden;
    }
}