.mav-wrapper {

    .mav-ctn {
        max-width: var(--mav-site-width);
        margin: 0 auto;
        padding: 0 var(--mav-gutter);
    }
}

%mav-flex-column, .mav-flex-column {
    display: flex;
    flex-direction: column;
}

%mav-flex-row, .mav-flex-row {
    display: flex;
    flex-direction: row;
}

.mav-flex-center {
    @extend %mav-flex-row;
    justify-content: center;
}

.mav-flex-center-all  {
    @extend %mav-flex-row;
    justify-content: center;
    align-items: center;
}

@mixin mav-flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grids */

.mav-grid {
    display: grid;
}

@media #{$mav-desktop} {
    @for $columns from 1 to 15 {
        .#{$mavNameSpace}-grid-col-#{$columns} {
            grid-template-columns: repeat($columns, 1fr)!important;
        }
    }
}

@media #{$mav-tablet} {
    @for $columns from 1 to 6 {
        .#{$mavNameSpace}-grid-col-tablet-#{$columns} {
            grid-template-columns: repeat($columns, 1fr)!important;
        }
    }
}

.mav-center, [data-center] {
    margin-left: auto;
    margin-right: auto;
}

// Desktop columns
@media #{$mav-desktop} {
    @for $columns from 1 to 15 {
        .#{$mavNameSpace}-col-#{$columns} {
            max-width: calc((100%/15)*#{$columns});
        }
    }
}

// Tablet columns
@media #{$mav-desktop} {
    @for $columns from 1 to 12 {
        .#{$mavNameSpace}-col-#{$columns}-tablet {
            max-width: calc((100%/15)*#{$columns});
        }
    }
}

/* Generals */

.mav-hide {
    display: none!important;
}

.mav-hide-on {
    &-phone {
        @media #{$mav-phone} {
            display: none!important;
        }
    }
    &-tablet {
        @media #{$mav-tablet} {
            display: none!important;
        }
    }
    &-mobile {
        @media #{$mav-mobile} {
            display: none!important;
        }
    }
    &-desktop {
        @media #{$mav-desktop} {
            display: none!important;
        }
    }
}

/**
 * Margins & Paddings
 */

.mav-margin {
    margin: var(--mav-gutter);
}

.mav-padding {
    padding: var(--mav-gutter);
}

@each $size in xl,lg,sm,xs {
    .mav-margin-#{$size} {
        margin: var(--mav-gutter-#{$size});
    }
    .mav-padding-#{$size} {
        padding: var(--mav-gutter-#{$size});
    }
}

@each $direction in top,bottom,left,right {
    .#{$mavNameSpace}-margin-#{$direction} {
        margin-#{$direction}: var(--mav-gutter);
    }
    .#{$mavNameSpace}-padding-#{$direction} {
        padding-#{$direction}: var(--mav-gutter);
    }
    @each $size in xl,lg,sm,xs {
        .#{$mavNameSpace}-margin-#{$direction}-#{$size} {
            margin-#{$direction}: var(--mav-gutter-#{$size});
        }
        .#{$mavNameSpace}-padding-#{$direction}-#{$size} {
            padding-#{$direction}: var(--mav-gutter-#{$size});
        }
    }
}

.mav-margin-top-bottom {
    margin-top: var(--mav-gutter);
    margin-bottom: var(--mav-gutter);
    @each $size in xl,lg,sm,xs {
        &.#{$size}, &[data-size-#{$size}] {
            margin-top: var(--mav-gutter-#{$size});
            margin-bottom: var(--mav-gutter-#{$size});
        }
    }
}

.mav-margin-left-right {
    margin-left: var(--mav-gutter);
    margin-right: var(--mav-gutter);
    @each $size in xl,lg,sm,xs {
        &.#{$size}, &[data-size-#{$size}] {
            margin-left: var(--mav-gutter-#{$size});
            margin-right: var(--mav-gutter-#{$size});
        }
    }
}

.mav-padding-top-bottom {
    padding-top: var(--mav-gutter);
    padding-bottom: var(--mav-gutter);
    @each $size in xl,lg,sm,xs {
        &.#{$size}, &[data-size-#{$size}] {
            padding-top: var(--mav-gutter-#{$size});
            padding-bottom: var(--mav-gutter-#{$size});
        }
    }
}

.mav-padding-left-right {
    padding-left: var(--mav-gutter);
    padding-right: var(--mav-gutter);
    @each $size in xl,lg,sm,xs {
        &.#{$size}, &[data-size-#{$size}] {
            padding-left: var(--mav-gutter-#{$size});
            padding-right: var(--mav-gutter-#{$size});
        }
    }
}

// Site width
.mav-site-width {
    margin: 0 auto;
    @media #{$mav-desktop} {
        max-width: var(--mav-site-width);
    }
}

/**
 * Page layouts
 */

.mav-pg-wrapper {
    background: transparent;
}

.mav-pg-ctn {
    max-width: var(--mav-site-width);
    margin: 0 auto;
    padding: 0 var(--mav-gutter);
    @media #{$mav-phone} {
        padding: 0 var(--mav-gutter-sm);
    }
}

.mav-pg-width {
    max-width: var(--mav-site-width);
    margin: 0 auto;
}

.mav-pg-header {
    @media #{$mav-mobile} {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: $mav-layer-top;
    }
}

/**
 * SECTION Styles
 * ==============
 */
.mav-sec-wrapper {
    background: var(--mav-color-site-background);
    &:nth-child(even) {
        background: var(--mav-color-off-white);
    }
    .mav-sec-ctn {
        max-width: var(--mav-site-width);
        margin: 0 auto;
        padding: 0 var(--mav-gutter);
        &[data-full-width] {
            max-width: 100%;
            padding: 0;
        }
    }
}
/* Section header */
.mav-sec-header-wrapper {
    .mav-sec-header-ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--mav-gutter-xl) 0 var(--mav-gutter);
    }
}
/* Section intro */
.mav-sec-intro-wrapper {
    .mav-sec-intro-ctn {
        width: 100%;
        margin: 0 auto;
        padding: var(--mav-gutter-xl) 0;
        .mav-sec-intro {
            font-size: 1.25rem;
            font-weight: 300;
            text-align: center;
        }
    }
}
/* Section body */
.mav-sec-body-wrapper {
    .mav-sec-body-ctn {
        padding: var(--mav-gutter-lg) 0;
    }
}
/* Section footer */
.mav-sec-footer-wrapper {
    .mav-sec-footer-ctn {
        @extend .mav-flex-center-all;
        padding: var(--mav-gutter) 0 var(--mav-gutter-xl);
    }
}