/**
 * Feature post
 */

.mav-post-feature-wrapper {
    overflow: hidden;
    margin-bottom: var(--mav-gutter-lg);
    &:last-child, &:only-child {
        margin-bottom: 0;
    }
    &:nth-child(even) {
        .mav-post-feature-info-wrapper {
            grid-area: left;
        }
    }
}

.mav-post-feature-ctn {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    @media #{$mav-tablet} {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "left right";
    }
    @media #{$mav-desktop} {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "left middle right";
    }
}

.mav-post-feature-figure-wrapper {
    width: 100%;
    min-height: 100%;
    background: var(--mav-color-accent);
    @media #{$mav-desktop} {
        grid-column: span 2;
    }
}

.mav-post-feature-figure-ctn {
    display: grid;
    height: 100%;
    figure {
        height: 100%;
        min-height: 40vh;
        background-position: center center!important;
        background-size: cover!important;
    }
}

.mav-post-feature-info-wrapper {
    grid-area: right;
}

.mav-post-feature-info-ctn {
    display: grid;
    grid-gap: var(--mav-gutter);
    padding: var(--mav-gutter-lg);
    background: #f2f2f2;
    min-height: 100%;
}

.mav-post-feature-title {
    font-weight: var(--mav-font-weight-light);
    font-size: 2rem;
    color: var(--mav-color-text-primary);
    a {
        text-decoration: none;
    }
}

.mav-post-feature-intro {
    font-size: 1rem;
    color: var(--mav-color-text-secondary);
}

.mav-post-feature-cta-ctn {
    @extend .mav-flex-center;
}
