#mavid-site-logo {
    img {
        display: block;
        height: 40px;
        @media #{$mav-desktop} {
            height: 60px;
        }
    }
}

.mav-header-logo-ctn {
    @extend .mav-pg-ctn;
    @extend %mav-flex-row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: var(--mav-gutter-sm);
    padding-bottom: var(--mav-gutter-sm);
    @media #{$mav-mobile} {
        background: var(--mav-color-accent);
        @include text-contrast($mav-color-brand-accent);
    }
}

.mav-mobile-menu-icon {
    justify-self: start;
    @media #{$mav-desktop} {
        display: none;
    }
}

/**
 * Header Menu
 */

.mav-sec-header-menu {
    display: block;
    position: fixed; // for mobile menu
    width: 100%;
    background: var(--mav-color-primary);
    z-index: $mav-layer-top;
    @media #{$mav-desktop} {
        position: sticky;
        top: 0px; // Important for sticky position
    }
}

// Header sticky logo
.mav-sticky-logo-wrapper {
    position: sticky;
    top: 0;
    height: 100%;
    .mav-sticky-logo-ctn {
        position: absolute;
        display: flex;
        align-items: center;
        .mav-sticky-logo {
            position: relative;
            visibility: hidden;
            display: block;
            opacity: 0;
            max-height: 0;
            height: auto;
            transform: translateY(-50%);
            @extend %mav-transition;
            img {
                padding: var(--mav-gutter-xs) 0;
                &:hover {
                    transform: scale(1)!important;
                }
            }
        }
        .show-logo {
            visibility: visible;
            max-height: 100vh;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.mav-header-menu-wrapper {
    @media #{$mav-desktop} {
        @include mav-flex-center-all;
        max-width: var(--mav-site-width);
        margin: 0 auto;
    }
}

.mav-header-menu-ctn {

    display: block;
    overflow-y: auto;

    ul { // lvl_1
        @extend %mav-flex-column;
        margin: 0;
        @media #{$mav-desktop} {
            flex-direction: row;
            background: var(--mav-color-header-menu-background);
        }
        li {
            @extend %mav-flex-column;
            text-transform: uppercase;
            letter-spacing: 1px;
            list-style: none;
            @include text-contrast($mav-color-header-menu-background);
            @media #{$mav-desktop} {
                &:hover {
                    .mav-submenu-icon[data-lvl="1"] {
                        &:after {
                            transform: rotate(180deg);
                            content: "\f078";
                        }
                    }
                    .mav-sub-menu[data-lvl="1"] {
                        max-height: 100vh!important;
                    }
                }
            }
            &.menu-item-home {
                a:before {
                    @extend %mav-font-awesome;
                    @media #{$mav-desktop} {
                        content: '\f015';
                    }
                }
                @media #{$mav-mobile} {
                    display: none!important;
                }
            }

            ul.mav-sub-menu { // lvl_2
                @extend .mav-flex-column;
                li {
                    @extend %mav-flex-column;
                    text-transform: initial;
                    a {
                        @media #{$mav-mobile} {
                            padding-left: var(--mav-gutter-lg);
                        }
                    }
                }
                @media #{$mav-desktop} {
                    box-shadow: none;
                    position: absolute;
                    margin-top: 64px;
                    border-radius: 0 0 5px 5px;
                }
                ul { // lvl_3
                    @media #{$mav-desktop} {
                        position: relative;
                        margin-top: 0;
                    }
                    a {
                        padding-left: var(--mav-gutter-lg);
                        @media #{$mav-mobile} {
                            padding-left: var(--mav-gutter-xl);
                        }
                    }
                }
            }
            a {
                display: flex;
                padding: var(--mav-gutter);
                text-decoration: none;
                &:hover {
                    background: var(--mav-color-header-menu-background-hover);
                }
                &.mav-submenu-link {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .mav-submenu-icon {
            cursor: pointer;
            margin: 0 var(--mav-gutter);
            @include text-contrast($mav-color-header-menu-background);
            &:hover {
                transform: scale(1.2);
            }
            @media #{$mav-desktop} {
                margin: 0;
                margin-left: var(--mav-gutter-sm);
            }
            &:after {
                display: block;
                @extend %mav-font-awesome;
                @extend %mav-transition;
            }
            &[data-state="close"] {
                &:after {
                    content: "\f078";
                }
            }
            &[data-state="open"] {
                &:after {
                    transform: rotate(180deg);
                    content: "\f078";
                }
            }
            &[data-lvl="2"][data-state="close"] {
                &:after {
                    content: "\f067";
                }
            }
            &[data-lvl="2"][data-state="open"] {
                &:after {
                    transform: rotate(45deg);
                    content: "\f067";
                }
            }
        }
        .mav-sub-menu {
            max-height: 0;
            overflow: hidden;
            &.open, &[data-state="open"] {
                max-height: 100vh;
            }
            &[data-state="close"] {
                max-height: 0;
                overflow: hidden;
            }
        }
    }
}

/*
 * Footer Menu
 */
.mav-footer-menu-wrapper {
    padding: var(--mav-gutter-lg) var(--mav-gutter);
}
.mav-footer-menu-ctn {
}

.mav-footer-menu {
    ul { // lvl_1
        @extend %mav-flex-column;
        margin-left: 0;
        li {
            margin-right: var(--mav-gutter);
            list-style: none;
            a {
                font-weight: 600;
                color: var(--mav-text-color-secondary-dark);
                text-decoration: none;
                &:hover {
                    // box-shadow: inset 0 -4px var(--mav-color-primary);
                    color: var(--mav-text-color-primary-dark);
                    color: white;
                }
            }
            ul { // lvl_2
                @extend .mav-flex-column;
                margin-top: var(--mav-gutter);
                li {
                    a {
                        font-size: .9rem;
                        font-weight: initial;
                        box-shadow: none;
                    }
                }
                ul { // lvl_3
                    margin-top: var(--mav-gutter-sm);
                    margin-bottom: var(--mav-gutter-sm);
                    margin-left: var(--mav-gutter);
                    li {
                        a {
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
        @media #{$mav-desktop} {
            flex-direction: row;
        }
    }
    @media #{$mav-phone} {
        display: none;
    }
}

.mav-mobile-menu-icon {
    cursor: pointer;
    font-size: 1.25rem;
}