form {
    display: flex;
    input {
        padding: var(--mav-gutter-sm);
    }
}

.mav-form {
    input {
        box-shadow: inset 0 -2px var(--mav-color-primary);
    }
}

/**
 * Site search form
 */

.mav-site-search-wrapper {
    height: auto;
    max-height: 0;
    overflow: hidden;
    background: var(--mav-color-accent);
    @extend %mav-transition;
    @media #{$mav-mobile} {
        background: var(--mav-color-primary);
    }
}

.mav-site-search-ctn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mav-collapse {
    max-height: 10vh;
    @extend %mav-transition;
}

.mav-site-search-icon {
    font-size: 1rem;
    color: var(--mav-color-primary);
    &:hover {
        @extend %mav-link-text-accent;
    }
}

form {
    &#mavid-site-search {
        width: 100%;
        margin: var(--mav-gutter);
        max-width: $mav-site-width;
        button ,input {
            border: none;
        }
        input {
            background: #fafafa;
            width: 100%;
        }
    }
}

.mav-contact-ctn, .mav-contact-socials-ctn {
    background: white;
    margin: var(--mav-gutter-lg) auto;
    padding: var(--mav-gutter-lg);
    border: 1px solid $mav-color-border;
    @media #{$mav-desktop} {
        max-width: 75%;
    }
}

.mav-contact {
    &[data-type] {
        &:before {
            @extend %mav-font-awesome;
            margin-right: var(--mav-gutter-sm);
        }
    }
    &[data-type="address"] {
        &:before {
            content: '\f015';
        }
    }
    &[data-type="phone"] {
        &:before {
            content: '\f095';
        }
    }
    &[data-type="email"] {
        &:before {
            content: '\f0e0';
        }
    }
}

.mav-contact-socials-ctn {
    .mav-social-links {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(60px,80px));
        justify-content: center;
        .mav-social-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background: $mav-color-background;
            border-radius: 50%;
            font-size: 1.25rem;
            @extend %mav-transition;
            &:hover {
                background: var(--mav-color-accent);
                @include text-contrast($mav-color-brand-accent);
            }
        }
    }
}

.mav-contact-form-ctn {
    background: white;
    margin: var(--mav-gutter-lg) auto;
    padding: var(--mav-gutter-lg);
    border: 1px solid $mav-color-border;
    @media #{$mav-desktop} {
        max-width: 75%;
    }
}

.mav-contact-form{
    width: 100%;
    display: grid;
    grid-gap: var(--mav-gutter-sm);
    input,textarea {
        display: flex;
        font-family: $font-roboto;
        font-size: 1rem;
        background: transparent;
        border: none;
        box-shadow: inset 0 -1px $mav-color-border;
        &:focus {
            outline: none;
            background: white;
            box-shadow: inset 0 -2px $mav-color-brand-primary;
            + .mav-form-hint {
                opacity: 1;
            }
        }
    }
    textarea {
        border: 1px solid $mav-color-border;
        padding: var(--mav-gutter-sm);
        resize: none;
        box-shadow: none;
        margin-bottom: var(--mav-gutter);
    }
    .mav-form-hint {
        margin-bottom: var(--mav-gutter);
        opacity: 0;
        font-size: .75rem;
        color: $mav-color-text-hint;
        @extend %mav-transition;
    }
}