table {
    margin: var(--mav-gutter) auto;
    caption {
        margin-bottom: var(--mav-gutter--sm);
        font-weight: var(--mav-font__weight--bold);
    }
    thead {
        padding: var(--mav-gutter--xs);
        background: var(--mav-color--primary);
        @include text-contrast($mav-color--primary);
    }
    tfoot {
        font-weight: var(--mav-font__weight--bold);
    }
    th, td {
        padding: var(--mav-gutter--sm);
        border: 1px solid var(--mav-color--border);
        text-align: left;
        vertical-align: middle;
    }
    th {
        font-weight: var(--mav-font__weight--medium);
    }
    tr {
        &:nth-child(even) {
            background: var(--mav-color--off-white);
        }
    }
}