form {
    display: flex;
    label {
        cursor: pointer;
    }
    input {
        border: none;
        // border-color: var(--mav-color--border);
        padding: var(--mav-gutter--sm);
        color: var(--mav-color__text--primary);
        font-size: inherit;
    }
    textarea {
        resize: none;
        border-color: var(--mav-color--border);
        padding: var(--mav-gutter);
    }
}

.mav-form {
    input {
        box-shadow: inset 0 -1px var(--mav-color--border);
    }
}

/**
 * Site search form
 */

.mav-site-search-wrapper {
    height: auto;
    max-height: 0;
    overflow: hidden;
    background: var(--mav-color--off-white);
    @extend %mav-transition;
}

.mav-site-search-ctn {
    padding: var(--mav-gutter);
    display: flex;
    justify-content: center;
}

.mav-collapse {
    max-height: 100vh;
    @extend %mav-transition;
}

.mav-site-search-icon {
    font-size: 1rem;
    width: 1rem;
    color: inherit;
    @media #{$mav-desktop} {
        color: var(--mav-color__text--secondary);
        &:hover {
            color: var(--mav-color__text--primary);
        }
    }
}


#mavid-site-search {
    background: white;
    width: 100%;
    padding: var(--mav-gutter--xs);
    border: 1px solid var(--mav-color--border);
    max-width: var(--mav-site--width);
    button ,input {
        border: none;
    }
    input {
        width: 100%;
    }
    button {
        padding: 0 var(--mav-gutter--sm);
    }
    @media #{$mav-desktop} {
        max-width: 50vw;
    }
}

/**
 * Contact Form
 */

.mav-contact-form-ctn {
    width: 100%;
    background: white;
    padding: var(--mav-gutter);
    border: 1px solid var(--mav-color--border);
}

.mav-contact-form{
    width: 100%;
    display: grid;
    grid-gap: var(--mav-gutter--sm);
    input, textarea {
        display: flex;
        font-family: inherit;
        background: transparent;
        border: none;
        box-shadow: 0 1px var(--mav-color--border);
        &:focus {
            outline: none;
            background: white;
            box-shadow: inset 0 -2px var(--mav-color--primary);
            + .mav-form-hint {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
    textarea {
        border: 1px solid var(--mav-color--border);
        padding: var(--mav-gutter--sm);
        resize: none;
        box-shadow: none;
        margin-bottom: var(--mav-gutter);

    }
    .mav-form-hint {
        overflow: hidden;
        margin-bottom: var(--mav-gutter);
        opacity: 0;
        font-size: var(--mav-font__size--sm);
        color: var(--mav-color__text--hint);
        transform: translateY(-100%);
        @extend %mav-transition;
    }
}

/**
 * Contact Form
 */

.mav-form-contact-ctn {
    margin: 0 auto;
    width: 100%;
}

/* Contact Form Header */
.mav-form-header-wrapper {
    .mav-form-header-ctn {
        padding-bottom: var(--mav-gutter--lg);
        display: grid;
        grid-gap: var(--mav-gutter);
        .mav-form-title-wrapper {
            .mav-form-title-ctn {
                text-align: center;
                font-size: 2rem;
            }
        }
        .mav-form-intro-wrapper {
            .mav-form-intro-ctn {
                text-align: center;
            }
        }
    }
}

.mav-form {
    border: 1px solid var(--mav-color--border);
    background: white;
    display: grid;
    grid-gap: var(--mav-gutter);
    margin: 0 auto;
    padding: var(--mav-gutter);
    @media #{$mav-tablet} {
        padding: var(--mav-gutter--lg);
    }
    @media #{$mav-desktop} {
        padding: var(--mav-gutter--lg);
        max-width: 50vw;
    }
}

.mav-form-fields-ctn {
    display: flex;
    flex-direction: column;
    .mav-form-input-ctn {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            font-weight: var(--mav-font__weight--medium);
            color: var(--mav-color__text--primary);
        }

        .mav-form-input {
            flex: 1;
            outline-color: var(--mav-color--border);
            padding: 0;
            min-height: 3em;
            background: transparent;
            z-index: var(--mav-layer--overlay);
            &::placeholder {
                color: var(--mav-color__text--hint);
            }
            &:required {
                box-shadow: inset 0 -1px var(--mav-color--primary);
                + .mav-form-hint {
                    i {
                        color: var(--mav-color--primary);
                    }
                }
            }
            &:focus {
                outline-color: transparent;
                box-shadow: inset 0 -2px var(--mav-color--accent);
                color: var(--mav-color__text--primary);
                + .mav-form-hint {
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }
        .mav-form-input-message {
            min-height: 20vh;
            font-family: inherit;
            font-size: 1rem;
            &:focus {
                border-color: var(--mav-color--accent);
                outline: none;
                + .mav-form-hint {
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }

        .mav-form-hint {
            overflow: hidden;
            padding: var(--mav-gutter-sm) 0;
            opacity: 0;
            font-size: .8rem;
            color: var(--mav-color__text--hint);
            transform: translateY(-100%);
            @extend %mav-transition;
        }
    }
}

.mav-form-footer-ctn {
    display: flex;
    flex-direction: column;
    .mav-form-status-ctn {
        display: flex;
        align-items: center;
        padding: var(--mav-gutter--sm) 0;
        .mav-form-status {
            font-size: .8rem;
            p {
                font-size: inherit;
            }
        }
    }
}