/**
 * Gallery
 */

.wp-block-separator {
    margin: var(--mav-gutter--xl) 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--mav-color--border), rgba(0, 0, 0, 0));
}