/**
 * Uni Slider
 * ==========
 */

[data-hidden] {
    display: none!important;
    opacity: 0;
}

// Slider wrapper
.mav-slider__wrp {
    position: relative;
    overflow: hidden;
}
// Slider container
.mav-slider__ctn {
    background: transparent;
}

// Slides wrapper
.mav-slider__slides--wrp {
    position: relative;
    overflow: hidden;
}
// Slides container
.mav-slider__slides--ctn {
    position: relative;
    display: grid;
    transition: all 1.5s ease-in-out;
    @media #{$mav-tablet} {
        max-height: 50vh;
    }
    @media #{$mav-phone} {
        max-height: 70vh;
    }
}

// Item Wrapper
.mav-slider__slide--wrp {
    position: relative;
    display: flex;
    box-sizing: border-box;
    img {
        transition: filter .6s ease-in-out;
        filter: grayscale(1);
    }
    &[data-active-slide] {
        img {
            filter: grayscale(0);
        }
    }
}
// Item Container
.mav-slider__slide--ctn {
    position: relative;
    height: 100%;
    width: 100%;
}

// Slide Image Wrapper
.mav-slider__slide__image--wrp {
    z-index: var(--mav-layer--background);
}
// Slide Image Container
.mav-slider__slide__image--ctn {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Slide Title Wrapper
.mav-slider__slide_title--wrp {
    position: relative;
    width: 100%;
}

// Slide Title Container
.mav-slider__slide_title--ctn {
    position: relative;
    display: flex;
    justify-content: center;
}
// Slide Title
.mav-slider__slide--title {
    position: relative;
    color: var(--mav-color__text--primary--dark);
    max-width: 80%;
    text-align: center;
    text-shadow: 0 0 5px rgba(black, .5);
    @media #{$mav-phone} {
        font-size: 1.5rem;
    }
}

// Slider Nav Buttons
// ==================
.mav-slider__nav__arrow--wrp {
    display: flex;
    &:hover {
        .mav-slider__preview--wrp {
        }
        .mav-slider__nav--icon {
            opacity: 0;
            width: 0;
            margin: 0;
        }
        figure {
            width: 120px;
            height: 75px;
        }
    }
}

.mav-slider__nav__arrow--ctn {
    position: absolute;
    display: grid;
    align-items: center;
    // height: 100%;
    top: 50%;
    transform: translateY(-50%);
    &[data-direction="prev"] {
        left: 0;
    }
    &[data-direction="next"] {
        right: 0;
    }
}
.mav-slider__nav--arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba(white, .25);
    padding: var(--mav-gutter--sm);
    &[data-direction="prev"] {
        padding-left: 0;
        .mav-slider__nav--icon {
            margin-left: var(--mav-gutter--sm);
        }
    }
    &[data-direction="next"] {
        padding-right: 0;
        .mav-slider__nav--icon {
            margin-right: var(--mav-gutter--sm);
        }
    }
    .mav-slider__nav--icon {
        font-size: var(--mav-font__size--lg);
        @extend %mav-transition--fast;
    }
}

.mav-slider__preview--wrp {
    position: relative;
    overflow: hidden;
    @extend %mav-transition;
    figure {
        position: relative;
        display: grid;
        width: 0px;
        height: 0px;
        @extend %mav-transition;
        .mav-slider__nav--image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        figcaption {
            position: absolute;
            display: grid;
            padding: var(--mav-gutter--sm);
            // width: auto;
            height: 100%;
            align-items: center;
            text-align: center;
            background: rgba(black, .3);
            .mav-slider__nav_preview--title {
                font-family: var(--mav-font__secondary);
                font-weight: var(--mav-font__weight--medium);
                color: white;
            }
        }
    }
    @media #{$mav-phone} {
        display: none;
    }
}

.mav-slider__preview--ctn {
}

.mav-slider__nav--image {
    object-fit: cover;
}

// Slider Nav Wrapper
.mav-slider__nav--wrp {
    background: transparent;
}

// Slider Nav Container
.mav-slider__nav--ctn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: var(--mav-gutter--sm) 0;
    &[data-position="inside"] {
        position: absolute;
        bottom: 0;
    }
    &[data-position="middle"] {
        margin-top: unset;
        transform: translateY(-50%);
    }
}

.mav-slider__nav__dots--ctn {
    display: flex;
    justify-content: center;
    width: max-content;
}

.mav-slider__nav--dot {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    background: var(--mav-color--off-white);
    border: 3px solid rgba(white, .75);
    margin: 0 var(--mav-gutter--sm);
    overflow: hidden;
    @extend %mav-transition;
    &[data-circle] {
        border-radius: 50%;
    }
    &[data-active="1"] {
        border-color: var(--mav-color--primary);
        img {
            filter: grayscale(0);
        }
    }
    &:hover {
        transform: scale(1.1);
    }
    @media #{$mav-phone} {
        max-width: 50px;
        max-height: 50px;
        margin: 0 var(--mav-gutter--xs);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);
    }
}

@keyframes mav-slider__loading--indicator {
    0% {
        width: 1%;
    }
    100% {
        width: 100%;
    }
}

.mav-slider__loading--indicator {
    display: block;
    position: absolute;
    top: 0;
    height: 3px;
    background: var(--mav-color__gradient--brand);
    z-index: var(--mav-layer--overlay);
    &[data-animation] {
        animation: mav-slider__loading--indicator infinite;
    }
}

.mav-uni-slider__slide_content--wrp {
    position: relative;
    height: 100%;
    &[data-gutter] {
        padding: var(--mav-gutter--sm);
    }
    .mav-uni-slider__slide_content--ctn {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.mav-slider__button--wrp {
    position: relative;
    // z-index: var(--mav-layer--overlay);
    height: 10%;
}