.mav-theme {
    &-sec {
        padding: var(--mav-gutter-xl) var(--mav-gutter);
        background: rgb(253,253,253);
        &:nth-child(odd) {
            background: rgb(250,250,250);
        }
        &-content {
            margin: 0 auto;
            max-width: var(--mav-site-width);
            padding: var(--mav-gutter-lg) 0;
        }
        &-body {
            padding: var(--mav-gutter-lg) 0;
        }
    }
}

/**
 * Theme Page Styles
 */

.mav-sec-theme-page {
    padding-top: var(--mav-gutter-xl);
    padding-bottom: var(--mav-gutter-xl);
    &:nth-child(odd) {
        background: darken($mav-color-background,2.5%);
    }
}

[data-scroll] {
    cursor: pointer;
}