/*
 * Text Contrast
 */
@mixin text-contrast($n) {
    $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
    $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

    @if abs($color-brightness) < ($light-color/2){
        color: lighten($n, 65%);
    }

    @else {
        color: darken($n, 65%);
    }
}

@mixin mav-background-gradient($mavDirection,$mavColor) {
    background: linear-gradient(to $mavDirection, $mavColor 0%,rgba(0,0,0,0) 100%);
}

@mixin mav-transition(){
    transition: all .3s ease;
}