/**
 * Countdown
 */

 .mav-countdown-ctn {
    padding: var(--mav-gutter);
    .mav-countdown{
        text-align: center;
        &[data-type="container"] {
            @include mav-flex-center-all;
        }
        &[data-type="number"]{
            font-weight: 600;
            font-size: 1.5rem;
            color: var(--mav-color-text-primary);
        }
        margin-right: var(--mav-gutter-xs);
    }
}