// Wrapper
.mav-tab-wrapper {
    // position: relative;
    overflow: hidden;
    padding: var(--mav-gutter-xs);
    background: var(--mav-color-border);
    // Container
    .mav-tab-ctn {
        display: grid;
        grid-column-gap: var(--mav-gutter-xs);
        max-width: var(--mav-site-width);
        counter-reset: container;
        // Trigger
        .mav-tab-trigger {
            display: flex;
            padding: var(--mav-gutter-sm) var(--mav-gutter);
            background: #fafafa;
            line-height: 1.25rem;
            cursor: pointer;
            border-bottom: 1px solid var(--mav-color-border);
            @extend %mav-transition;
            &:hover {
                color: var(--mav-color-text-primary);
                background: rgba(0,0,0,.005);
            }
            &[data-state="active"] {
                color: var(--mav-color-text-primary);
                background: white;
                border-bottom-color: transparent;
                box-shadow: inset 0px 3px var(--mav-color-primary);
                font-weight: var(--mav-font-weight-bold);
                + .mav-tab-content-wrapper {
                    opacity: 1;
                    z-index: $mav-layer-overlay;
                }
            }
            @media #{$mav-phone} {
                counter-increment: container;
                &:before {
                    content: counter(container);
                }
            }
            .mav-tab-trigger-title {
                @media #{$mav-phone} {
                    display: none;
                }
            }
        }
        // Content
        .mav-tab-content-wrapper {
            opacity: 0;
            grid-area: content;
            padding: var(--mav-gutter-lg);
            background: white;
            max-height: 75vh;
            @media #{$mav-mobile} {
                padding: var(--mav-gutter);
                overflow-y: auto;
            }
        }

        /**
         * Vertical Tab Styles
         */
        &[data-vertical] {
            grid-column-gap: 0;
            grid-row-gap: var(--mav-gutter-xs);
            @media #{$mav-tablet} {
                grid-template-columns: minmax(auto,25%) 1fr;
            }
            .mav-tab-trigger {
                align-items: center;
                border-right: 1px solid var(--mav-color-border);
                &[data-state="active"] {
                    border-right-color: transparent;
                    box-shadow: inset 3px 0px var(--mav-color-primary);
                }
            }
            .mav-tab-content-wrapper {
            }
        }
    }
    /**
     * Plain Horizontal Style
     */
    &[data-plain] {
    background: transparent;
    padding: 0;
        .mav-tab-ctn {
            grid-column-gap: var(--mav-gutter);
            .mav-tab-trigger {
                background: transparent;
                border: none;
                padding: 0;
                padding-bottom: var(--mav-gutter-sm);
                // justify-content: center;
                font-weight: var(--mav-font-weight-bold);
                text-transform: uppercase;
                // text-align: center;
                &[data-state="active"] {
                    box-shadow: inset 0px -3px var(--mav-color-primary);
                }
            }
            .mav-tab-content-wrapper {
                padding: 0;
                margin-top: var(--mav-gutter-lg);
                background: transparent;
            }
        }
    }
}