.mav-post {
    &-header {
        text-align: center;
        @media #{$mav-phone} {
            text-align: left;
        }
    }
    &-title-ctn {
        padding: var(--mav-gutter--lg) var(--mav-gutter);
        margin: 0 auto;
        // margin-left: auto;
        // margin-right: auto;
        // width: 100%;

        @media #{$mav-tablet} {
            max-width: 80%;
        }
        @media #{$mav-desktop} {
            max-width: 66vw;
            padding: var(--mav-gutter--xl) 0;
        }
    }
    &-title {
        font-family: var(--mav-font--primary);
        line-height: 1.25;
        word-wrap: break-word;
        @media #{$mav-phone} {
            text-align: left;
        }
    }
    /**
     * Post feature image
     */
    &-feature-image {
        height: 40vw;
        background-position: center!important;
        background-size: cover!important;
        @media #{$mav-desktop} {
            height: 25vw;
            background-attachment: fixed!important;
            box-shadow: inset 0 0 80px rgba(0,0,0,0.33);
        }
    }
    &-info-ctn {
        padding: var(--mav-gutter);
        background: var(--mav-color--off-white);
        box-shadow: 0 1px var(--mav-color--border);
        span {
            margin-right: var(--mav-gutter);
            white-space: nowrap;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                @extend %mav-font-awesome;
                margin-right: var(--mav-gutter--xs);
            }
        }
    }

    .mav-post-footer-wrapper {
        background: var(--mav-color--off-white);
        .mav-post-footer-ctn {
            max-width: var(--mav-site--width);
            margin: 0 auto;
            display: grid;
            grid-gap: var(--mav-gutter--lg);
            padding: var(--mav-gutter--xl) var(--mav-gutter);
            h4 {
                font-size: 1rem;
                color: inherit;
                text-transform: uppercase;
                margin-bottom: var(--mav-gutter--sm);
                font-weight: var(--mav-font__weight--bold);
                letter-spacing: .5px;
            }
        }
    }

    &-navigation {
        display: flex;
        justify-content: space-between;
        @media #{$mav-phone} {
            display: flex;
            flex-direction: column;
        }
        a {
            max-width: max-content;
            text-decoration: none;
            padding: var(--mav-gutter--sm);
            border: 1px solid var(--mav-color--border);
            border-radius: 4px;
            transition: all .15s;
            &:hover {
                border-color: var(--mav-color--accent);
            }
            &:before, &:after {
                @extend %mav-font-awesome;
            }
            @media #{$mav-phone} {
                width: 100%;
                margin-bottom: var(--mav-gutter--sm);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &[rel="prev"] {
                justify-self: flex-start;
                &:before {
                    content: '\f104';
                    margin-right: var(--mav-gutter--sm);
                }
            }
            &[rel="next"] {
                justify-self: flex-end;
                text-align: right;
                &:after {
                    content: '\f105';
                    margin-left: var(--mav-gutter--sm);
                }
            }
        }
    }
}



.mav-post-info {
    &:before {
        @extend %mav-font-awesome;
        margin-right: var(--mav-gutter--xs);
        color: var(--mav-color__text--secondary);
    }
    &[data-type="category"] {
        &:before {
            content: '\f15c';
        }
    }
    &[data-type="date"] {
        &:before {
            content: '\f073';
        }
    }
    &[data-type="author"] {
        &:before {
            content: '\f2bd';
        }
    }
}

/**
 * Post Content
 */

.mav-post-content-wrapper {
    .mav-post-content-ctn {
        padding: 0 var(--mav-gutter);
        max-width: var(--mav-site--width);
        margin: var(--mav-gutter--xl) auto;
        @media #{$mav-tablet} {
            max-width: 75vw;
        }
        @media #{$mav-desktop} {
            max-width: 800px;
        }
    }
}

.mav-post-content {
    h2, .mav-h2 {
        font-weight: var(--mav-font__weight--bold);
        margin-top: 1em;
        margin-bottom: .5em;
        &:first-of-type {
            margin-top: 0;
        }
    }
    h3, .mav-h3 {
        margin-bottom: .25em;
    }

    p {
        font-weight: var(--mav-font__weight--regular);
        margin: 1.5em 0;
        line-height: 1.75;
        &:first-child, &:only-child {
            margin-top: 0;
        }
        &:last-child, &:only-child {
            margin-bottom: 0;
        }
        pre, code {
            margin: 0;
        }
        // Wordpress class
        &.attachment {
            @extend .mav-flex-center-all;
        }
    }

    ol, ul {
        margin-top: 1em;
        margin-bottom: .5em;
    }

    ol {
        li {
            line-height: 1.75em;
            margin-left: 3ch;
            ol {
                margin-top: 0;
                li {
                    margin-left: 2ch;
                }
            }
        }
    }
    ul {
        li {
            line-height: 1.75em;
            margin-left: 2ch;
            ul {
                margin-top: 0;
            }
        }
    }

    figure {
        margin-bottom: var(--mav-gutter);
        max-width: 100%;
        img {
            padding: 0;
        }
    }

    img {
        height: auto;
        max-width: 100%;
        object-fit: contain;
        padding: var(--mav-gutter-sm) 0;
        &.aligncenter {
            display: flex;
            margin: 0 auto;
        }
    }
    .aligncenter {
        margin: 0 auto;
    }
    .alignleft {
        float: left;
        margin-right: var(--mav-gutter--lg);
    }
    .alignright {
        float: right;
        margin-left: var(--mav-gutter--lg);
        &:only-child{
            float: none;
            margin-left: 0;
        }
    }
    .alignwide {
        iframe {
            width: 100%;
        }
    }
    iframe {
        max-width: 100%;
    }

    /**
     * Block Quote
     */
    blockquote {
        display: flex;
        flex-direction: column;
        margin: var(--mav-gutter--xl) auto;
        text-align: center;
        width: max-content;
        max-width: 100%;
        border: 1px solid var(--mav-color--border);
        padding: 0 var(--mav-gutter--lg);
        &:before, &:after {
            display: block;
            @extend %mav-font-awesome;
            color: var(--mav-color--accent);
            background: var(--mav-color--off-white);
            margin: 0 auto;
            padding: var(--mav-gutter--sm);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
        }
        &:before {
            content: '\f10d';
            margin-bottom: var(--mav-gutter--sm);
            transform: translateY(-50%);
        }
        &:after {
            content: '\f10e';
            margin-top: var(--mav-gutter--sm);
            transform: translateY(50%);
        }
        p {
            font-size: var(--mav-font-size--xl);
            font-weight: var(--mav-font__weight--light);
            margin-bottom: 0;
        }
        cite, .mav-quote-author {
            color: var(--mav-color__text--secondary);
            font-weight: var(--mav-font__weight--bold);
            white-space: nowrap;
            padding: 0 var(--mav-gutter);
        }
        cite {
            &:after {
                position: absolute;
                display: block;
                content: "";
                width: 50px;
                height: 5px;
                background: var(--mav-color--accent);
                transform: translateX(-50%);
                left: 50%;
            }
        }

        pre, code {
            margin: 0;
        }

        // WordPress Gutenberg Style
        &.wp-block-pullquote {
            padding: 0;
            margin: var(--mav-gutter--xl) auto;
        }
    }

    cite {
        font-weight: var(--mav-font__weight--bold);
    }

    /**
     * Definition Lists
     */
    dl {
        // Title
        dt {
            font-weight: var(--mav-font__weight--bold);
            margin-top: var(--mav-gutter);
            font-size: var(--mav-font__size--lg);
            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    /**
     * Address Tag
     */
    address {
        margin-bottom: 1rem;
        padding-left: var(--mav-gutter);
        border-left: 3px solid var(--mav-color--accent);
    }


}

/**
 * Sticky post
 */

.mav-blog-sticky-post-ctn article.sticky {
    .mav-card-post-header {
        &:before {
            position: absolute;
            z-index: 1;
            @extend .mav-flex-center-all;
            @extend %mav-font-awesome;
            content: '\f06d';
            height: var(--mav-gutter);
            width: var(--mav-gutter);
            padding: var(--mav-gutter--sm);
            border-radius: 50%;
            background: var(--mav-color--primary);
            color: var(--mav-color__text--primary--dark);
            animation: mav-brand-color-transition 2s infinite;
            transform: translate(var(--mav-gutter--sm),var(--mav-gutter--sm));
        }
    }
    .mav-card-post-thumbnail {
        filter: grayscale(0);
    }
}

/**
 * Post gallery
 */

.gallery, .wp-block-gallery {
    max-width: var(--mav-site--width);
    figure {
        img {
            padding: var(--mav-gutter--xs);
            object-fit: cover;
            border: 1px solid var(--mav-color--border);
            @extend %mav-transition;
        }
    }
}

@for $columns from 1 to 9 {
    .gallery-columns-#{$columns}, .columns-#{$columns} {
        grid-template-columns: repeat(#{$columns},1fr);
    }
}

/**
 * Post Tags
 */
.mav-tag-list {
    @extend .mav-flex-row;
    flex-wrap: wrap;
    font-family: var(--mav-font--secondary);
    li {
        display: inline-flex;

        margin: 0;
        margin-right: var(--mav-gutter--sm);
        margin-top: var(--mav-gutter--xs);

        border: 1px solid var(--mav-color--border);
        border-radius: 3px;

        @extend %mav-transition--fast;
        &:hover {
            border-color: transparent;
            background: var(--mav-color--accent);
            a {
                @include text-contrast($mav-color--accent);
            }
        }
        &:last-child {
            margin-right: 0;
        }
        a {
            display: flex;
            align-items: center;
            padding: var(--mav-gutter--xs);
            font-size: var(--mav-font__size--sm);
            text-decoration: none;
            text-transform: lowercase;
            &:before {
                @extend %mav-font-awesome;
                content: '\f292';
                margin-right: var(--mav-gutter--xs);
                font-size: var(--mav-font__size--xs);
            }
        }
    }
}

/**
 * Related Posts
 */

.mav-related-posts-wrapper {
    padding: var(--mav-gutter--xl) var(--mav-gutter--sm);
    background: var(--mav-color__site--background);
    @media #{$mav-phone} {
        padding: var(--mav-gutter--lg) 0;
    }
}


/**
 * Post attachment page
 */

.mav-post-attachment-wrapper {
    @extend .mav-flex-center-all;
    padding: var(--mav-gutter--lg);
}

figcaption {
    font-size: var(--mav-font__size--sm);
    color: var(--mav-color__text--secondary);
}