.mav-breadcrumbs-wrapper {
    background: var(--mav-color-site-background);
    box-shadow: 0 1px var(--mav-color-border);
}

.mav-breadcrumbs-ctn {
    max-width: var(--mav-site-width);
    padding: var(--mav-gutter);
    margin: 0 auto;
}
.mav-breadcrumbs {
    display: flex;
    li {
        margin-right: var(--mav-gutter-xs);
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        text-decoration: none;
    }
    .item-current, .item-home {
        color: var(--mav-color-text-primary);
    }
}