.mav-site-sidebar-ctn {
    display: grid;
    grid-row-gap: var(--mav-gutter);
    align-content: start;
    padding: var(--mav-gutter-lg);
    border-left: 1px solid var(--mav-color-border);
    a {
        text-decoration: none;
        &:hover {
            color: var(--mav-color-text-primary);
            box-shadow: inset 0 -1px var(--mav-color-accent);
        }
    }
    li {
        list-style-type: none;
    }
    aside {
        h3 {
            display: inline-flex;
            margin-bottom: var(--mav-gutter);
            font-size: var(--mav-font-size-lg);
            font-weight: var(--mav-font-weight-light);
            box-shadow: 0 3px var(--mav-color-primary);
        }
    }
    .widget {
        box-shadow: 0px 1px var(--mav-color-border);
        padding-bottom: var(--mav-gutter-lg);
        &:last-child {
            box-shadow: none;
        }
    }
    /**
     * Recent Entries Widget
     */
    .widget_recent_entries {
        ul {
            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: var(--mav-gutter-sm);
                @extend .mav-font-sm;
                &:last-child {
                    margin-bottom: 0
                }
                &:before {
                    @extend %mav-font-awesome;
                    content: '\f15c';
                    position: absolute;
                    margin-right: var(--mav-gutter-sm);
                }
                a {
                    margin-left: 1.5em;
                    font-weight: 400;
                }
            }
        }
    }
    /**
     * Categories Widget
     */
    .widget_categories {
        ul {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            li {
                margin-bottom: var(--mav-gutter-sm);
                &:before {
                    @extend %mav-font-awesome;
                    content: '\f07b';
                    margin-right: var(--mav-gutter-sm);
                }
            }
            a {
                font-weight: 600;
            }
        }
    }

    /**
     * Calendar Widget
     */
    .widget_calendar {
        .calendar_wrap {
            background: #fff;
            padding: var(--mav-gutter);
            border: 1px solid var(--mav-color-border);
        }
        table {
            width: 100%;
        }
        td {
            text-align: center;
        }
        td#prev {
            text-align: left;
        }
        td#next {
            text-align: right;
        }
        a {
            font-weight: 900;
        }
    }

    /**
     * Tag Cloud Widget
     */
    .tagcloud {
        display: flex;
        flex-wrap: wrap;
        padding: var(--mav-gutter);
        border: 1px solid var(--mav-color-border);
        background: #fff;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            padding: var(--mav-gutter-sm);
            margin-right: var(--mav-gutter-sm);
            line-height: .5em;
            border: 1px solid var(--mav-color-border);
            border-radius: 4px;
            margin-bottom: var(--mav-gutter-sm);
            &:last-child {
                margin-right: 0;
            }
        }
        .tag-link-count {
            margin-left: var(--mav-gutter-xs);
            font-weight: 400;
        }
    }
    /**
     * Widget Archive
    */
    .widget_archive {
        ul {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            li {
                margin-bottom: var(--mav-gutter-sm);
                a {
                    font-weight: bold;
                }
            }
        }
    }

    /**
     * Search Widget
     */
    .widget_search {
        form.search-form {
            display: flex;
            padding: var(--mav-gutter-xs);
            border: 1px solid var(--mav-color-border);
            label {
                width: 100%;
                display: flex;
                span.screen-reader-text {
                    display: none;
                }
                input {
                    width: 100%;
                    border: none;
                }
            }
            .search-submit {
                @extend .mav-btn-primary;
                font-size: var(--mav-font-size-sm);
            }
        }
    }
}