[data-hidden] {
    display: none!important;
    opacity: 0!important;
    visibility: hidden!important;
}

.mav-bg__blurred {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.90);
    filter: blur(20px);
}

// Flex Column
%mav-flex-column, .mav-flex-column {
    display: flex;
    flex-direction: column;
}

// Flex Row
%mav-flex-row, .mav-flex-row {
    display: flex;
    flex-direction: row;
}

// Flex Center Horizontal
.mav-flex-center, .mav-flex__center {
    @extend %mav-flex-row;
    justify-content: center;
}

// Flex Center Horizontal & Vertical
.mav-flex-center-all, .mav-flex__center--all  {
    @extend %mav-flex-row;
    justify-content: center;
    align-items: center;
}

@mixin mav-flex-center-all
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mav-flex__column--phone
{
    @media #{$mav-phone}
    {
        flex-direction: column;
        align-items: center;
    }
}

/**
 * Grids
 */

.mav-grid
{
    display: grid;
}

// Grid Columns
@media #{$mav-desktop}
{
    @for $columns from 1 to 15
    {
        .#{$mavNS}-grid-col-#{$columns}, .#{$mavNS}-grid__col--#{$columns}
        {
            grid-template-columns: repeat($columns, 1fr)!important;
        }
    }
}

@media #{$mav-tablet} {
    @for $columns from 1 to 6 {
        .#{$mavNS}-grid-col-tablet-#{$columns}, .#{$mavNS}-grid__col--tablet--#{$columns} {
            grid-template-columns: repeat($columns, 1fr)!important;
        }
    }
}

// Grid Gaps
.mav-grid__gap {
    grid-gap: var(--mav-gutter);
    &--xs {
        grid-gap: var(--mav-gutter--xs);
    }
    &--sm {
        grid-gap: var(--mav-gutter--sm);
    }
    &--lg {
        grid-gap: var(--mav-gutter--lg);
    }
    &--xl {
        grid-gap: var(--mav-gutter--xl);
    }
}

.mav-center, .mav--center, [data-center] {
    margin-left: auto;
    margin-right: auto;
}

// Desktop columns
@media #{$mav-desktop}
{
    @for $columns from 1 to 15
    {
        .mav-col__15--#{$columns}
        {
            max-width: calc((100%/15)*#{$columns});
        }
    }
}

// Tablet columns
@media #{$mav-desktop} {
    @for $columns from 1 to 12 {
        .mav-col-#{$columns}-tablet {
            max-width: calc((100%/15)*#{$columns});
        }
    }
}
@each $mavWidths in (5,10,15,20,25,30,33,35,40,45,50,55,60,65,66,70,75,80,85,90,95) {
    $mavUnit: '%';
    .mav-maxw--#{$mavWidths} {
        max-width: #{$mavWidths}#{$mavUnit};
    }
}

@media #{$mav-phone} {
    div[class*="mav-maxw--"] {
        max-width: unset;
    }
}

/* Generals */

.mav-hide
{
    display: none!important;
}

.mav-hide-on, .mav-hide__on {
    &-phone, &--phone {
        @media #{$mav-phone} {
            display: none!important;
        }
    }
    &-tablet, &--tablet {
        @media #{$mav-tablet} {
            display: none!important;
        }
    }
    &-mobile, &--mobile {
        @media #{$mav-mobile} {
            display: none!important;
        }
    }
    &-desktop, &--desktop {
        @media #{$mav-desktop} {
            display: none!important;
        }
    }
}

/**
 * Margins & Paddings
 */

.mav-margin {
    margin: var(--mav-gutter);
}

.mav-padding {
    padding: var(--mav-gutter);
}

@each $size in xl,lg,sm,xs {
    .mav-margin-#{$size}, .mav-margin--#{$size} {
        margin: var(--mav-gutter--#{$size});
    }
    .mav-padding-#{$size}, .mav-padding--#{$size} {
        padding: var(--mav-gutter--#{$size});
    }
}

@each $direction in top,bottom,left,right {
    .mav-margin-#{$direction}, .mav-margin__#{$direction} {
        margin-#{$direction}: var(--mav-gutter);
    }
    .mav-padding-#{$direction}, .mav-padding__#{$direction} {
        padding-#{$direction}: var(--mav-gutter);
    }
    @each $size in xl,lg,sm,xs {
        .mav-margin-#{$direction}-#{$size}, .mav-margin__#{$direction}--#{$size} {
            margin-#{$direction}: var(--mav-gutter--#{$size});
        }
        .mav-padding-#{$direction}-#{$size}, .mav-padding__#{$direction}--#{$size} {
            padding-#{$direction}: var(--mav-gutter--#{$size});
        }
    }
}

.mav-margin-top-bottom, .mav-margin__top__bottom  {
    margin-top: var(--mav-gutter);
    margin-bottom: var(--mav-gutter);
    @each $size in xl, lg, sm, xs {
        &-#{$size}, &--#{$size}, &[data-size-#{$size}] {
            margin-top: var(--mav-gutter--#{$size});
            margin-bottom: var(--mav-gutter--#{$size});
        }
    }
}

.mav-margin-left-right, .mav-margin__left__right {
    margin-left: var(--mav-gutter);
    margin-right: var(--mav-gutter);
    @each $size in xl, lg, sm, xs {
        &-#{$size}, &--#{$size}, &[data-size-#{$size}] {
            margin-left: var(--mav-gutter--#{$size});
            margin-right: var(--mav-gutter--#{$size});
        }
    }
}

.mav-padding-top-bottom, .mav-padding__top__bottom {
    padding-top: var(--mav-gutter);
    padding-bottom: var(--mav-gutter);
    @each $size in xl, lg, sm, xs {
        &-#{$size}, &--#{$size}, &[data-size-#{$size}] {
            padding-top: var(--mav-gutter--#{$size});
            padding-bottom: var(--mav-gutter--#{$size});
        }
    }
}

.mav-padding-left-right, .mav-padding__left__right {
    padding-left: var(--mav-gutter);
    padding-right: var(--mav-gutter);
    @each $size in xl, lg, sm, xs {
        &-#{$size}, &--#{$size}, &[data-size-#{$size}] {
            padding-left: var(--mav-gutter--#{$size});
            padding-right: var(--mav-gutter--#{$size});
        }
    }
}

/* Site width */
.mav-site--width
{
    margin: 0 auto;
    @media #{$mav-desktop}
    {
        max-width: var(--mav-site--width);
    }
}

/**
 * Page layouts
 */

.mav-pg__wrp {
    background: transparent;
}

.mav-pg-ctn, .mav-pg__ctn
{
    max-width: var(--mav-site--width);
    margin: 0 auto;
    padding: 0 var(--mav-gutter);
}

.mav-pg-width, .mav-pg__width
{
    max-width: var(--mav-site--width);
    margin: 0 auto;
}

.mav-pg-header, .mav-pg__heafer
{
    @media #{$mav-mobile}
    {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: var(--mav-layer--top);
    }
}

/**
 * Section Styles
 */
.mav-sec__wrp
{
    &[data-background-color="off-white"] {
        background: var(--mav-color--off-white);
    }
    .mav-sec__ctn
    {
        max-width: var(--mav-site--width);
        margin: 0 auto;
        padding: 0 var(--mav-gutter);
        &[data-full-width] {
            max-width: 100%;
            padding: 0;
        }
    }
}

/**
 * Section header
 */
.mav-sec-header-wrapper, .mav-sec__header--wrp {
    .mav-sec-header-ctn, .mav-sec__header--ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--mav-gutter--xl) 0 var(--mav-gutter);
    }
}

/**
 * Section title
 */
.mav-sec-title-wrapper, .mav-sec__title--wrp {
    .mav-sec-title-ctn, .mav-sec__title--ctn {
        position: relative;
    }
}

.mav-sec-title, .mav-sec__title {
    padding: var(--mav-gutter-sm);
    padding-top: 0;
    box-shadow: inset 0 -3px var(--mav-color--primary);
    border-radius: var(--mav-gutter--sm);
    border: 1px solid transparent;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    @extend %mav-transition;
    @extend %mav-link-reset;
    &:hover {
        box-shadow: inset 0 -3px var(--mav-color--accent);
    }
    @media #{$mav-phone} {
        font-size: 1.25rem;
    }
    a {
        text-decoration: none;
    }
}

/**
 * Section intro
 */
.mav-sec-intro-wrapper, .mav-sec__intro--wrapper, .mav-sec__intro--wrp {
    .mav-sec-intro-ctn, .mav-sec__intro--ctn {
        padding-top: var(--mav-gutter--lg);
        text-align: center;
        max-width: 60vw;
        margin: 0 auto;
        @extend .mav-text__intro;
        @media #{$mav-phone} {
            max-width: 90vw;
        }
    }
}

/**
 * Section body
 */
.mav-sec-body-wrapper, .mav-sec__body--wrp {
    .mav-sec-body-ctn, .mav-sec__body--ctn {
        padding: var(--mav-gutter--xl) 0;
        @media #{$mav-phone} {
            padding: var(--mav-gutter--lg) 0;
        }
    }
}
/**
 * Section footer
 */
.mav-sec-footer-wrapper, .mav-sec__footer--wrp {
    .mav-sec-footer-ctn, .mav-sec__footer--ctn {
        @extend .mav-flex-center-all;
        padding: var(--mav-gutter) 0 var(--mav-gutter--xl);
    }
}

/**
 * Buttons Container
 */

.mav-btn-ctn, .mav-btn__ctn {
    display: grid;
    grid-gap: var(--mav-gutter);
    justify-content: center;
    justify-items: center;
    &[data-columns="2"] {
        grid-template-columns: repeat(2,max-content);
        button {
            min-width: 20vw;
            @media #{$mav-tablet} {
                min-width: 25vw;
            }
            @media #{$mav-phone} {
                min-width: 100%;
            }
        }
        @media #{$mav-phone} {
            grid-template-columns: 1fr;
        }
    }
}

.mav-divider {
    position: relative;
    display: block;
    height: 1px;

    // Width options
    $unit: '%';
    --mav-divider__width: 100%;
    @each $width in 10,20,30,40,50,60,70,80,90 {
        &[data-width-#{$width}] {
            --mav-divider__width: #{$width}#{$unit};
        }
    }
    width: var(--mav-divider__width);

    // Margin options
    --mav-divider__margin: var(--mav-gutter);
    @each $size in xl, lg, sm, xs {
        &[data-margin-#{$size}] { --mav-divider__margin: var(--mav-gutter--#{$size}); }
    }
    &[data-margin-none]
    {
        --mav-divider__margin: 0
    }
    margin: var(--mav-divider__margin) auto;

    // Color options
    --mav-divider__color: var(--mav-color--border);
    &[data-color-black]
    {
        --mav-divider__color: #222;
    }
    &[data-color-primary]
    {
        --mav-divider__color: var(--mav-color--primary);
    }
    &[data-color-accent]    { --mav-divider__color: var(--mav-color--accent); }

    --mav-divider__color--begin: rgba(0,0,0,0);
    &[data-style-solid]
    {
        --mav-divider__color--begin: var(--mav-divider__color);
    }

    background-color: var(--mav-divider__color);
}