/**
 * Page Footer
 */
 .mav-pg-footer {
    background: var(--mav-color-site-footer);
    color: var(--mav-color-text-primary-dark);
}

.mav-footer-copyright-wrapper {
}

.mav-footer-copyright-ctn {
    display: grid;
    grid-gap: var(--mav-gutter-xs);
    max-width: var(--mav-site-width);
    margin: 0 auto;
    padding: var(--mav-gutter-lg) var(--mav-gutter);
    font-size: var(--mav-font-size-sm);
    color: var(--mav-color-text-primary-dark);
}

/**
 * Footer Social Links
 */

.mav-footer-socials-wrapper {
    background: var(--mav-color-off-white);
    box-shadow: 0px -1px var(--mav-color-border);
    .mav-footer-socials-ctn {
        padding: var(--mav-gutter-lg) var(--mav-gutter);
        @extend %mav-flex-column;
        align-items: center;
        color: initial;
        span {
            text-align: center;
            font-weight: var(--mav-font-weight-regular);
        }
        .mav-social-links {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            margin-top: var(--mav-gutter-lg);
            @extend %mav-link-reset;
            .mav-social-icon {
                @extend .mav-flex-center-all;
                width: 50px;
                height: 50px;
                border: 1px solid var(--mav-color-accent);
                font-size: var(--mav-font-size-lg);
                margin-left: 0;
                margin-right: var(--mav-gutter);
                @extend %mav-transition;
                &:hover {
                    border-radius: 50%;
                    @extend %mav-link-obj-accent;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

/**
 * Footer Menu
 */
.mav-footer-menu-wrapper {
    padding: var(--mav-gutter-lg) var(--mav-gutter);
}

.mav-footer-menu-ctn {
}

.mav-footer-menu {
    ul { // lvl_1
        display: flex;
        margin-left: 0;
        padding-left: 0;
        li {
            margin-left: 0;
            list-style: none;
            line-height: 2;
            margin-right: var(--mav-gutter-lg);
            a {
                display: inline-block;
                font-weight: var(--mav-font-weight-bold);
                text-transform: uppercase;
                color: var(--mav-color-text-primary-dark);
                text-decoration: none;
                letter-spacing: 0.5px;
                @extend %mav-transition;
                &:hover {
                    box-shadow: 0 1px var(--mav-color-border);
                }
            }
            ul { // lvl_2
                @extend .mav-flex-column;
                margin-top: var(--mav-gutter);
                li {
                    margin-right: 0;
                    a {
                        text-transform: unset;
                        font-weight: initial;
                        &:hover {
                            transform: translateX(var(--mav-gutter-sm));
                        }
                    }
                }
                ul { // lvl_3
                    margin: var(--mav-gutter-sm) 0 var(--mav-gutter) var(--mav-gutter);
                    li {
                        a {
                            color: var(--mav-color-text-secondary-dark);
                        }
                    }
                }
            }
        }
    }
}

