%#{$mavNameSpace}-link-reset {
    a {
        box-shadow: none;
        font-weight: inherit;
        &:hover {
            background: unset;
        }
    }
}

/**
 * Anchor Tag
 */

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--mav-color-border);
    text-underline-position: under;
    &:hover {
        text-decoration-color: var(--mav-color-accent);
    }
}

.#{$mavNameSpace}-link {
    &[data-link="external"] {
        &:after {
            @extend %mav-font-awesome;
            content: '\f0c1';
            margin-left: var(--mav-gutter-xs);
        }
    }
    &--dark {
        text-decoration-color: var(--mav-color-border);
        &:hover {
            text-decoration-color: var(--mav-color-text-primary-dark);
        }
    }
}

%#{$mavNameSpace}-font-awesome {
    font-family: $font-awesome;
    font-weight: 900;
}

@mixin mav-font-awesome {
    font-family: $font-awesome;
    font-weight: 900;
}

%#{$mavNameSpace}-font-awesome-line {
    font-family: $font-awesome;
}

.mav-fa-icon {
    margin-right: .25em;
}

.#{$mavNameSpace} {
    &-no-break {
        white-space: nowrap;
    }
}



body {
    font-family: $font-roboto;
    font-size: var(--mav-font-size);
    line-height: 1.5;
    color: var(--mav-color-text-primary);
}

strong {
    font-weight: var(--mav-font-weight-bold);
}

%#{$mavNameSpace}-link {
    &-obj {
        background: var(--mav-color-primary);
        @include text-contrast($mav-color-primary);
        &-accent {
            background: var(--mav-color-accent);
            @include text-contrast($mav-color-accent);
        }
        &-bg {
            background: var(--mav-color-background);
        }
    }
    &-text {
        text-decoration: none;
        &-accent {
            color: var(--mav-color-accent);
        }
    }
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
.mav-h1, .mav-h2, .mav-h3, .mav-h4, .mav-h5, .mav-h6 {
    b {
        font-weight: var(--mav-font-weight-bold);
    }
    a {
        text-decoration: none;
    }
}

a {
    h1, h2, h3, h4, h5, h6,
    .mav-h1, .mav-h2, .mav-h3, .mav-h4, .mav-h5, .mav-h6 {
        text-decoration: none;
    }
}

h1, .mav-h1 {
    font-size: 4rem;
    line-height: 1.1em;
    font-weight: var(--mav-font-weight-light);
    @media #{$mav-phone} {
        font-family: $font-roboto-cond;
        font-size: 3rem;
    }
}

h2, .mav-h2 {
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: var(--mav-font-weight-bold);
    @media #{$mav-phone} {
        font-family: $font-roboto-cond;
    }
}

h3, .mav-h3 {
    font-size: 1.5rem;
    font-weight: var(--mav-font-weight-bold);
    line-height: 1.2em;
}

h4, .mav-h4 {
    font-size: 1.25rem;
    font-weight: var(--mav-font-weight-bold);
}

h5, .mav-h5 {
    font-size: 1.25rem;
    font-weight: var(--mav-font-weight-bold);
    text-transform: uppercase;
}

h6, .mav-h6 {
    font-size: 1rem;
    font-weight: var(--mav-font-weight-black);
    letter-spacing: 1px;
    text-transform: uppercase;
}

// Sub Headings

%mav-sub-heading {
    font-family: $font-roboto;
    font-weight: var(--mav-font-weight-bold);
    color: var(--mav-color-text-primary);
}

.mav-sub-heading-1 {
    @extend %mav-sub-heading;
    font-size: var(--mav-font-size-xl);
}
.mav-sub-heading-2 {
    @extend %mav-sub-heading;
    font-size: var(--mav-font-size-lg);
}
.mav-sub-heading-3, .mav-heading-over-line {
    @extend %mav-sub-heading;
    font-weight: var(--mav-font-weight-black);
    font-size: var(--mav-font-size-sm);
    text-transform: uppercase;
    letter-spacing: .5px;
}

/* Paragraph Tag */

p {
    font-size: var(--mav-font-size);
    font-weight: var(--mav-font-weight-regular);
    line-height: 1.75;
    text-overflow: ellipsis;
}

/**
 * Unordered list
 */
ul { // Top lvl
    li {
        list-style-type: disc;
        ul { // Lvl 2
            li {
                list-style-type: square;
                ul { // Lvl 3
                    li {
                        list-style-type: circle;
                        ul { // Lvl 4
                            li {
                                list-style-type: square;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
 * Ordered List
 * ============
 */
ol { // Top Lvl
    li {
        list-style-type: decimal-leading-zero;
        ol { // Lvl 2
            li {
                list-style-type: decimal;
                ol { // Lvl 3
                    li {
                        list-style-type: upper-alpha;
                        ol { // Lvl 4
                            li {
                                list-style-type: lower-alpha;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Non-List
.mav-non-list {
    li {
        list-style: none;
        margin-left: 0!important;
    }
}

/**
 * SuperScript & SubScript
 * =======================
 */
sup, sub {
    display: inline-block;
    font-size: 70%;
}
// SuperScript
sup {
    transform: translateY(-30%);
}
// SubScript
sub {
    transform: translateY(10%);
}

/**
 * Keyboard Tag
 * ============
 */
kbd {
    background: #444;
    color: var(--mav-color-text-primary-dark);
    padding: var(--mav-gutter-xs) var(--mav-gutter-sm);
    font-family: $font-roboto-mono;
    white-space: nowrap;
    font-weight: var(--mav-font-weight-medium);
    border-radius: 6px;
}

/**
 * Inline Quote Tag
 */
q {
    font-size: var(--mav-font-size-xl);
    &:before , &:after {
        display: inline-block;
        @extend %mav-font-awesome;
        color: var(--mav-color-accent);
        font-size: var(--mav-font-size-xs);
    }
    &:before {
        content: '\f10d';
        margin-right: var(--mav-gutter-sm);
        transform: translateY(-20%);
    }
    &:after {
        content: '\f10e';
        margin-left: var(--mav-gutter-sm);
    }
}

/**
 * Small Tag
 */
small {
    font-size: var(--mav-font-size-sm);
}

/**
 * Variable Tag
 */
var {
    font-family: $font-roboto-mono;
    font-weight: var(--mav-font-weight-medium);
}

/**
 * Deleted Tag
 */
del {
    color: var(--mav-color-text-hint);
}

/**
 * Emphasis Tag
 */
em {
    font-style: italic;
}

/**
 * Pre & Code Tag
 */
pre, code {
    display: inline-block;
    font-family: $font-roboto-mono;
    font-weight: var(--mav-font-weight-medium);
    white-space: pre-wrap;
    word-wrap: break-word;
}

abbr {
    font-weight: var(--mav-font-weight-medium);
}

/**
 * UTILITIES
 * =========
 */

.#{$mavNameSpace}-text {
    // Text aligns
    @each $mavSide in (left, center, right, justify) {
        &--#{$mavSide} {
            text-align: #{$mavSide};
        }
    }
    // Text sizes
    @each $mavSize, $mavLineHeight in ( xl: 1.25, lg: 1.5, sm: 1.75, xs: 1.75) {
        &--#{$mavSize} {
            font-size: var(--mav-font-size-#{$mavSize});
            line-height: #{$mavLineHeight};
        }
    }
    // Text transforms
    @each $mavCase in (lowercase, uppercase, capitalize) {
        &--#{$mavCase} {
            text-transform: #{$mavCase};
        }
    }
}