.mav-accordion-ctn-wrapper {
    overflow: hidden;
    transition: max-height .3s ease;
    overflow-y: auto;
}

.mav-accordion-ctn {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: var(--mav-gutter) 0;
}

.mav-accordion-trigger {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--mav-gutter--sm) 0;
    @extend %mav-transition;
    &:hover {
        background: rgba(black, 0.025);
        padding-left: var(--mav-gutter--sm);
    }
    &:before {
        @extend %mav-transition;
        @extend %mav-font-awesome-solid;
    }
    &[data-trigger-icon] {
        &:before {
            margin-right: var(--mav-gutter--sm);
            content: '\f078';
            transform: rotate(-90deg);
        }
    }
    &[data-trigger-icon="2"] {
        &:before {
            content: '\f067';
        }
    }

    &[data-state="close"] {
        + .mav-accordion-ctn-wrapper {
            max-height: 0vh;
        }
    }

    &[data-state="open"] {
        &:before {
            transform: rotate(0deg);
        }
        + .mav-accordion-ctn-wrapper {
            margin-top: var(--mav-gutter);
            max-height: 100vh;
            .mav-accordion-ctn {
                padding: 0;
            }
        }
    }

    &[data-faq][data-question] {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: var(--mav-gutter--xs);
        color: var(--mav-color__text--primary);
        border: 1px solid var(--mav-color--border);
        padding: var(--mav-gutter--sm);
        background: white;
        @extend %mav-transition;
        &:before {
            content: '\f128';
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background: var(--mav-color--primary);
            @include text-contrast($mav-color--primary);
            transform: rotate(0deg);
        }
        &[data-state="open"] {
            padding-left: var(--mav-gutter);
            &:before {
                content: '\f12a';
                background: var(--mav-color--accent);
            }
        }
        + .mav-accordion-ctn-wrapper {
            background: white;
            border: 1px solid var(--mav-color--border);
            border-top: 0;
            margin-top: 0;
            .mav-accordion-ctn {
                padding: var(--mav-gutter);
            }
        }
    }
    .mav-btn-close {
        position: absolute;
        right: 0;
        color: var(--mav-color__text--secondary);
        transform: translateX(-100%);
        &:hover {
            color: var(--mav-color__text--primary);
        }
    }
}