.mav-page-ctn, .mav-page__ctn {
    margin: 0 auto;
}

// Page Header
.mav-page-header-wrapper, .mav-page__header--wrp {
    display: block;
    position: relative;
    overflow: hidden;
}

.mav-page-header-ctn, .mav-page__feature__image {
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100%;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    filter: blur(30px);
    transform: scale(1.1);
    z-index: var(--mav-layer--background);
    @media #{$mav-desktop} {
        background-attachment: fixed!important;
    }
}


// Page Title
.mav-page__title--wrp {
    position: relative;
    &:before {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, var(--mav-color--primary) 0%, var(--mav-color--accent) 100%);
        filter: opacity(.3);
        content: '';
        z-index: var(--mav-layer--background);
    }
    .mav-page__title--ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media #{$mav-phone} {
            padding: var(--mav-gutter--sm) var(--mav-gutter);
        }
        @media #{$mav-tablet} {
            padding: var(--mav-gutter) var(--mav-gutter);
        }
        @media #{$mav-desktop} {
            padding: var(--mav-gutter--lg) var(--mav-gutter);
        }
        .mav-page__title {
            font-weight: var(--mav-font__weight--black);
            color: rgba(255,255,255,.99)!important;
            line-height: 1.2em;
            text-align: center;
            text-shadow: 0 0 5px rgba(0,0,0,.25);
            text-transform: uppercase;
            letter-spacing: 2px;
            @media #{$mav-phone} {
                font-size: 1.5rem;
            }
            @media #{$mav-tablet} {
                font-size: 2rem;
            }
            @media #{$mav-desktop} {
                font-size: 3rem;
            }
        }

        .mav-page__intro--wrp {
            margin-top: var(--mav-gutter--lg);
            .mav-page__intro--ctn {

                .mav-page__intro {
                    max-width: var(--mav-site--width);
                    font-size: 1.3rem;
                    font-family: var(--mav-font--secondary);
                    font-weight: 300;
                    color: var(--mav-color__text--primary--dark);
                    padding: var(--mav-gutter--xs) var(--mav-gutter--sm);
                    text-align: center;
                }

            }
        }
    }
}

