.mav-page-ctn {
    margin: 0 auto;
}

// Page Header
.mav-page-header-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}
.mav-page-header-ctn {
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100%;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    filter: blur(20px);
    transform: scale(1.1);
    @media #{$mav-desktop} {
        background-attachment: fixed!important;
    }
}

// Page Title
.mav-page-title-wrapper {
    position: relative;
    background: linear-gradient(to top right, rgba($mav-color--primary,.33) 0%,rgba($mav-color--accent,.33) 100%);
}

.mav-page-title-ctn {
    @extend .mav-flex-center-all;
    @media #{$mav-phone} {
        padding: var(--mav-gutter--lg) var(--mav-gutter);
    }
    @media #{$mav-tablet} {
        padding: var(--mav-gutter--xl) var(--mav-gutter);
    }
    @media #{$mav-desktop} {
        padding: calc(var(--mav-gutter--xl) * 1.5) var(--mav-gutter);
    }
}

.mav-page-title {
    font-weight: var(--mav-font__weight--bold);
    color: rgba(255,255,255,.99)!important;
    line-height: 1.2em;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    @media #{$mav-phone} {
        font-size: 2rem;
    }
    @media #{$mav-tablet} {
        font-size: 3rem;
        max-width: 80vw;
    }
    @media #{$mav-desktop} {
        font-size: 4rem;
        max-width: 60vw;
    }
}