form {
    display: flex;
    label {
        cursor: pointer;
    }
    input {
        padding: var(--mav-gutter-sm);
        color: var(--mav-color-text-primary);
    }

}

.mav-form {
    input {
        box-shadow: inset 0 -2px var(--mav-color-primary);
        padding: var(--mav-gutter-sm) 0;
    }
    .mav-form-label {
        font-weight: 600;
    }
}

/**
 * Site search form
 */

.mav-site-search-wrapper {
    height: auto;
    max-height: 0;
    overflow: hidden;
    background: var(--mav-color-off-white);
    @extend %mav-transition;
    @media #{$mav-mobile} {
        // background: var(--mav-color-primary);
    }
}

.mav-site-search-ctn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mav-collapse {
    max-height: 100vh;
    @extend %mav-transition;
}

.mav-site-search-icon {
    font-size: 1rem;
    width: 1rem;
    color: var(--mav-color-text-secondary-dark);
    &:hover {
        color: var(--mav-color-text-primary-dark);
    }
    @media #{$mav-desktop} {
        color: var(--mav-color-text-secondary);
        &:hover {
            color: var(--mav-color-text-primary);
        }
    }
}

form {
    &#mavid-site-search {
        background: white;
        width: 100%;
        margin: var(--mav-gutter);
        padding: var(--mav-gutter-xs);
        border: 1px solid var(--mav-color-border);
        max-width: var(--mav-site-width);
        button ,input {
            border: none;
        }
        input {
            width: 100%;
        }
    }
}
.mav-contact-wrapper {
    margin-bottom: var(--mav-gutter-lg);
}
.mav-contact-ctn, .mav-contact-socials-ctn {
    background: white;
    // margin: var(--mav-gutter-lg) auto;
    padding: var(--mav-gutter);
    border: 1px solid $mav-color-border;
    @media #{$mav-desktop} {
        // max-width: 75%;
    }
}

.mav-contact {
    margin-bottom: var(--mav-gutter-sm);
    &:before {
        color: var(--mav-color-text-primary);
    }
    &:last-child {
        margin-bottom: 0;
    }
    &[data-type] {
        &:before {
            @extend %mav-font-awesome;
            margin-right: var(--mav-gutter-sm);
        }
    }
    &[data-type="address"] {
        &:before {
            content: '\f015';
        }
    }
    &[data-type="phone"] {
        &:before {
            content: '\f095';
        }
    }
    &[data-type="email"] {
        &:before {
            content: '\f0e0';
        }
    }
}

.mav-contact-socials-ctn {
    .mav-social-links {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(60px,80px));
        justify-content: center;
        .mav-social-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background: $mav-color-background;
            border-radius: 50%;
            font-size: 1.25rem;
            @extend %mav-transition;
            &:hover {
                background: var(--mav-color-accent);
                @include text-contrast($mav-color-brand-accent);
            }
        }
    }
}
.mav-contact-form-wrapper {
    margin-top: var(--mav-gutter-lg);
}
.mav-contact-form-ctn {
    background: white;
    padding: var(--mav-gutter);
    border: 1px solid var(--mav-color-border);
}

.mav-contact-form{
    width: 100%;
    display: grid;
    grid-gap: var(--mav-gutter-sm);
    input, textarea {
        display: flex;
        font-family: $font-roboto;
        font-size: 1rem;
        background: transparent;
        border: none;
        box-shadow: 0 1px var(--mav-color-border);
        &:focus {
            outline: none;
            background: white;
            box-shadow: inset 0 -2px var(--mav-color-primary);
            + .mav-form-hint {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
    textarea {
        border: 1px solid var(--mav-color-border);
        padding: var(--mav-gutter-sm);
        resize: none;
        box-shadow: none;
        margin-bottom: var(--mav-gutter);
    }
    .mav-form-hint {
        overflow: hidden;
        margin-bottom: var(--mav-gutter);
        opacity: 0;
        font-size: .75rem;
        color: var(--mav-color-text-hint);
        transform: translateY(-100%);
        @extend %mav-transition;
    }
}