.mav-slider-type-1-wrapper {
    overflow: hidden;
}

.mav-slider-type-1-ctn {
    display: grid;
    grid-gap: var(--mav-gutter-sm);
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 33vh 20vw;
    grid-template-areas:
    "main-display"
    "thumbnail";
    width: 100%;
    @media #{$mav-desktop} {
        grid-template-rows: 25vw 80px;
    }
    .mav-slide {
        height: 100%;
        background: var(--mav-color-site-background);
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
        .mav-slide-title {
            @include mav-flex-center-all;
            position: absolute;
            bottom: 0;
            opacity: 0;
            // max-height: 0;
            transform: translateY(100%);
            transition: all .6s ease;
            @media #{$mav-phone} {
                top: 0;
            }
        }
    }
    .mav-first-slide {
        position: relative;
        overflow: hidden;
        display: grid;
        align-items: end;
        grid-area: main-display;
        grid-column: 1/-1;
        width: 100%;
        height: 100%;
        filter: grayscale(0);
        transition: filter .6s ease;
        .mav-slide-title {
            width: 100%;
            opacity: 1;
            // max-height: 100%;
            padding: var(--mav-gutter);
            background: rgba(0,0,0,.75);
            color: var(--mav-color-text-secondary-dark);
            font-size: 1.25rem;
            text-align: center;
            text-decoration: none;
            transform: translateY(0%);
            @media #{$mav-desktop} {
                font-size: 2.5rem;
                padding: var(--mav-gutter-sm) var(--mav-gutter-lg);
            }
        }
    }
}

/*
 * Slider Type 2
 */
.mav-slider-type-2-wrapper {
    position: relative;
    width: 100%;
    height: 40vh;
    @media #{$mav-desktop} {
        height: 30vw;
    }
}

.mav-slider-type-2-ctn {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .mav-slide {
        z-index: -1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: $mav-color-background;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;
        transition: all .6s;
        overflow: hidden;
        opacity: 0;
        &:hover {
            .mav-slide-post-title-ctn {
                opacity: 1;
                transition: all .3s ease;
            }
        }
        &.mav-active-slide {
            z-index: 9;
            opacity: 1;
        }
        .mav-slide-post-title-ctn {
            position: relative;
            width: 100%;
            height: 100%;
            @extend .mav-flex-center-all;
            background: rgba(black,.5);

            color: var(--mav-color-text-primary-dark);
            font-family: $font-roboto-slab;
            letter-spacing: 2px;
            @extend %mav-transition;
            @media #{$mav-desktop} {
                opacity: 0;
                padding: var(--mav-gutter);
            }
            a {
                text-decoration: none;
            }
            .mav-slider-title {
                text-align: center;
                max-width: 50vw;
                color: white;
                @extend %mav-transition;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .mav-slide-nav {
            z-index: $mav-layer-overlay;
            position: absolute;
            width: 80px;
            height: 100%;
            opacity: .5;
            font-size: 2rem;
            @extend %mav-transition;
            &:hover {
                opacity: 1;
            }
        }
        .slide-prev, .slide-next {
            @extend .mav-flex-center-all;
            @extend %mav-font-awesome;
            color: $mav-color-text-primary-dark;
            cursor: pointer;
        }
        .slide-prev {
            left: 0;
            &:hover {
                transform: translateX(-20%);
            }
            &:before {
                content: '\f053';
            }
        }
        .slide-next {
            right: 0;
            &:hover {
                transform: translateX(20%);
            }
            &:before {
                content: '\f054';
            }
        }
    }
    .mav-slide-input {
        display: none;
    }
    input.mav-slide-input:checked {
        + .mav-slide {
            opacity: 1;
        }
    }
    .mav-slider-nav {
        position: absolute;
        bottom: 0;

        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(1rem,2rem));
        justify-content: center;

        width: 100%;
        padding: var(--mav-gutter-sm) 0;

        z-index: $mav-layer-overlay;
    }
    .mav-nav-dot {
        position: relative;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background: rgba($mav-color-text-secondary-dark,.75);
        box-shadow: 0 0 5px currentColor;
        @extend %mav-transition;
        &:hover {
            transform: scale(1.15);
        }
    }
    .mav-active-dot {
        background: white;
    }
}

/*
 * Slider Type 3
 */

.mav-slider-type-3-wrapper {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    @media #{$mav-desktop} {
        height: 25vw;
    }
}

.mav-slider-type-3-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    .mav-slide {
        display: flex;
        flex: 1;
        align-items: flex-end;
        position: relative;

        margin-right: var(--mav-gutter-sm);

        background: $mav-color-background;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;

        transition: all .6s ease;
        overflow: hidden;

        filter: grayscale(1);
        &:last-child {
            margin-right: 0;
        }
        @media #{$mav-desktop} {
            flex: 2;
            &:first-child {
                flex: 1;
            }
            &:last-child {
                flex: 1;
            }
            &:nth-child(3) {
                flex: 3;
                filter: grayscale(0);
                @media #{$mav-desktop} {
                    > .mav-slide-title-ctn {
                        transform: translateY(0);
                    }
                }
            }
        }
        @media #{$mav-tablet} {
            &:nth-child(3) {
                flex: 3;
                filter: grayscale(0);
            }
        }
        &:hover {
            flex: 4;
            filter: grayscale(0);
            width: 50%;
            transition: all .6s ease;
            > .mav-slide-title-ctn {
            transition: all .6s ease;
            transform: translateY(0);
            }
        }
        .mav-slide-title-ctn {
            @extend .mav-flex-center-all;
            width: 100%;
            // height: 25%;
            padding: var(--mav-gutter-sm);

            background: rgba(0,0,0,.75);
            overflow: hidden;

            transition: all .6s ease;
            transform: translateY(100%);
            &:hover {
                background: rgba(0,0,0,.85);
            }
            a {
                text-decoration: none;
                h2 {
                    color: var(--mav-color-text-primary-dark);
                    letter-spacing: 1px;
                    font-size: 1.5rem;
                }
            }
        }
    }
}