/**
 * Post Card - Index Page
 */

.mav-card-wrapper, .mav-card--wrapper, .mav-card--wrp {
    position: relative;
    width: 100%;
}

.mav-card-ctn, .mav-card--ctn {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.mav-card-post, .mav-card--post {
    display: grid;
    height: 100%;
    background: white;
    overflow: hidden;
    border: 1px solid var(--mav-color--border);
    @extend %mav-transition;
        &:hover {
            box-shadow: 0 10px 40px #ccc;
        }

    &-header, &-content, &-footer {
        overflow: hidden;
    }

    &-header {
        display: flex;
        position: relative;
        overflow: hidden;
        box-shadow: 0 1px var(--mav-color--border);
        height: 20vh;
        @media #{$mav-tablet} {
            height: 20vw;
        }
        @media #{$mav-phone} {
            height: 40vw;
        }
    }

    &-thumbnail-wrapper {
        width: 100%;
        height: 100%;
    }

    &-thumbnail {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover!important;
        background-position: center center!important;
        background-repeat: no-repeat!important;
        @extend %mav-transition;
        filter: grayscale(1);
        &:hover{
            filter: grayscale(0);
            transform: scale(1.05);
        }
    }

    &-info-ctn {
        font-family: var(--mav-font--secondary);
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 1px #eee;
        padding-bottom: var(--mav-gutter--sm);
        @extend .mav-text--sm;
        a {
            margin-right: var(--mav-gutter--sm);
        }
    }

    &-content {
        // Card Header
        header {
            display: grid;
            padding: var(--mav-gutter);
            overflow: hidden;
            @media #{$mav-phone} {
                grid-template-rows: auto;
            }
        }
        // Card Title
        .mav-card-title-wrapper {
            .mav-card__title--ctn {
                display: block;
                padding: var(--mav-gutter);
                height: 100px;
                overflow: hidden;
                .mav-card-title {
                    font-size: 1.25rem;
                    font-weight: var(--mav-font__weight--bold);
                    @media #{$mav-phone} {
                        font-size: 1.15rem;
                    }
                }
            }
        }

        // Card Excerpt
        .mav-card__excerpt--wrp {
            .mav-card__excerpt--ctn {
                display: block;
                position: relative;
                padding: 0 var(--mav-gutter);
                overflow: hidden;
                height: 60px;
                .mav-card__excerpt {
                    font-size: var(--mav-font__size--sm);
                    color: var(--mav-color__text--secondary);
                }
            }
        }
    }
    &-footer {
        padding: var(--mav-gutter);
        align-self: end;
    }
}

/**
 * Card Styles
 * ===========
 */

.mav-card {
    display: grid;
    position: relative;

    /* Card Header */
    header, .mav-card-header {
        display: block;
        height: 25vh;
    }

    // Thumbnail
    .mav-card-thumbnail-wrapper {
        .mav-card-thumbnail {
            display: block;
            width: 100%;
            height: 100%;
            background-size: contain!important;
            background-position: center center!important;
            background-repeat: no-repeat!important;
            @extend %mav-transition;
            @media #{$mav-desktop} {
                filter: grayscale(1);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }

    /* Card Content */
    .mav-card-content {
        background-color: var(--mav-color--off-white);
    }

    // Card Title
    .mav-card-title-wrapper {
        @extend .mav-flex-center-all;
        padding: var(--mav-gutter--lg) 0;
        background: white;
        .mav-card-title {
            text-align: center;
            font-size: 1.25rem;
            max-width: 80%;
        }
    }

    .mav-card-info-ctn {
        @extend .mav-flex-center;
        padding: var(--mav-gutter--sm);
        font-size: var(--mav-font__size--sm);
        .post-categories {
            @extend .mav-flex-center;
            flex-wrap: wrap;
            li {
                list-style-type: none;
                margin: var(--mav-gutter--xs) 0;
                margin-right: var(--mav-gutter--sm);
                &:last-child {
                    margin-right: none;
                }
            }
        }
    }

    /* Card Footer */
    footer, .mav-card-footer {
        padding: var(--mav-gutter--sm);
    }
}

/**
 * CPT: Portfolio
 * ==============
 */

.mav-card-cpt-portfolio {
    padding: var(--mav-gutter);
    @extend %mav-transition;
    // &:hover {
    //     border-color: var(--mav-color--accent);
    // }
    // .mav-card-title-wrapper {
    //     padding: var(--mav-gutter) 0;
    //     min-height: 90px;
    // }
    // /* Card Footer */
    // .mav-card-footer {
    //     @extend .mav-flex-center;
    //     .mav-tag-list {
    //         display: flex;
    //         flex-wrap: wrap;
    //     }
    // }
}

/**
 * CPT: Client
 * ===========
 */

.mav-card-client-wrapper {
    .mav-card-client-ctn {
        display: grid;
        align-content: center;
        border: 1px solid transparent;
        padding: var(--mav-gutter--lg);
        height: 100%;
        @extend %mav-transition;
        &:hover {
            border-color: var(--mav-color--border);
        }
        @media #{$mav-mobile} {
            border-color: var(--mav-color--border);
        }
        figure {
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$mav-phone} {
                height: 30vw;
            }
            @media #{$mav-tablet} {
                height: 20vw;
            }
            @media #{$mav-desktop} {
                height: 10vw;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            @extend %mav-transition;
            @media #{$mav-desktop} {
                filter: grayscale(1);
                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }
}

/**
 * Default post index card
 * support for list & card styles
 * ==============================
 */

// Card wrapper
.mav-card__wrp {
    height: 100%;
    .mav-card__ctn {
        background: transparent;
        height: 100%;
    }
}

/**
 * Card content
 * ============
 */

// Card content wrapper
.mav-card__content--wrp {
    height: 100%;

    // Card content container
    .mav-card__content--ctn {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        border: var(--mav-border);
        @media #{$mav-phone} {
            grid-template-columns: 1fr!important;
        }
        &.sticky {
            background: hsl(0, 0, 99);
        }
        &:hover {
            background: hsl(0, 0, 99);
        }
    }
}

/**
 * Card Header
 */

// Card Header wrapper
.mav-card__header--wrp {
    .mav-card__header--ctn {
        height: 100%;

        // Post thumbnail wrapper
        .mav-card__post__thumbnail--wrp {
            height: 100%;

            // Post thunbnail container
            .mav-card__post__thumbnail--ctn {
                position: relative;
                height: 25vh;
                overflow: hidden;
                box-shadow: 0px 1px var(--mav-color--border);

                // Post thumbnail
                .mav-card__post__thumbnail {
                    height: 100%;
                    background-position: center!important;
                    background-size: cover!important;
                    @extend %mav-transition;
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                @media #{$mav-phone} {
                    height: 100%;
                    .mav-card__post__thumbnail {
                        height: 30vh;
                    }
                }
            }
        }

    }
}

/**
 * Card Body
 * =========
 */

// Card Body wrapper
.mav-card__body--wrp {

    // Card Body container
    .mav-card__body--ctn {
        display: grid;
        grid-gap: var(--mav-gutter);
        grid-template-rows: auto 1fr;
        height: 100%;
        padding: var(--mav-gutter);

        // Card body - header
        .mav-card__body__header--wrp {
            .mav-card__body__header--ctn {
                display: grid;
                grid-gap: var(--mav-gutter);
                grid-template-columns: max-content 1fr;
                font-family: var(--mav-font--secondary);
                font-size: var(--mav-font__size--sm);
                color: var(--mav-color__text--secondary);

                // Categories container
                .mav-card__post__categories--ctn {
                    display: flex;
                    li {
                        display: none;
                        &:first-child, &:last-child {
                            display: block;
                        }
                    }
                }
            }
        }

        // Card body - body
        .mav-card__body__body--wrp {
            .mav-card__body__body--ctn {

                // Card post title
                .mav-card__post__title {
                    font-size: 1.25rem;
                    font-weight: var(--mav-font__weight--bold);
                    word-break: break-word;
                    @extend %mav-transition;
                    &:hover {
                        color: var(--mav-color--primary);
                    }
                }

                // Excerpt
                .mav-card__post__excerpt--ctn {
                    color: var(--mav-color__text--secondary);
                    @media #{$mav-phone} {
                        font-size: var(--mav-font__size--sm);
                    }
                }

            }
        }

        // Card body - footer
        .mav-card__body__footer--wrp {
            .mav-card__body__footer--ctn {

                .mav-card__post__tags--ctn {
                    max-height: 76px;
                    overflow: hidden;
                }

            }
        }

    }

}

/**
 * Card Footer
 * ===========
 */

// Card Footer wrapper
.mav-card__footer--wrp {
    // Card Footer container
    .mav-card__footer--ctn {
        @media #{$mav-phone} {
            border: 0!important;
        }
        .mav-card__socials--ctn {
            display: flex;
            color: var(--mav-color__text--secondary);
            font-size: var(--mav-font__size--sm);
            border-top: var(--mav-border);
            justify-content: flex-end;
            li {
                list-style: none;
                text-align: center;
                padding: var(--mav-gutter);
                border-left: var(--mav-border);
                cursor: pointer;
                @extend %mav-transition;
                &:hover {
                    color: var(--mav-color__text--primary);
                }
            }
            @media #{$mav-phone} {
                flex-direction: row!important;
                border-top: var(--mav-border)!important;
                li {
                    margin-bottom: 0!important;
                }
            }
        }

    }
}

/*
 * Card List Style
 * ===============
 */

.mav-card__content--ctn {

    &[data-style="list"] {
        grid-template-columns: 33.3333% 1fr auto;

        .mav-card__post__thumbnail--ctn {
            height: 100%!important;
        }

        .mav-card__body--ctn {
            min-height: 25vh;

            .mav-card__post__title {
                width: max-content;
                @media #{$mav-phone} {
                    width: 100%;
                }
            }

        }

        .mav-card__footer--ctn {
            border-left: var(--mav-border);

            .mav-card__socials--ctn {
                flex-direction: column;
                border-top: 0;
                li {
                    padding: var(--mav-gutter);
                    margin-right: 0;
                    border-left: 0;
                    border-bottom: var(--mav-border);
                    @media #{$mav-phone} {
                        border-left: var(--mav-border);;
                        border-bottom: 0;
                    }
                }
            }

        }

    }
}