.mav-post-grid-wrapper {
    max-width: var(--mav-site--width);
    margin: 0 auto;
    .mav-post-grid-ctn {
        display: grid;
        grid-gap: var(--mav-gutter);
        @media #{$mav-phone} {
            grid-template-columns: 1fr!important;
        }
    }
}