/**
 * Maverick WordPress Theme
 * Page: Contact
 * Last update: Today
 */

 .mav-page-contact-wrapper {
    max-width: var(--mav-site-width);
    display: grid;
    grid-gap: var(--mav-gutter-lg);
    @media #{$mav-desktop} {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "form social"
        "form map";
        align-items: stretch;
        .mav-form-contact-wrapper {
            grid-area: form;
            width: 100%;
        }
        .mav-contact-socials-wrapper {
            grid-area: social;
        }
        .mav-contact-wrapper {
            grid-area: map;
        }
    }
}

.mav-contact-socials-ctn {
    .mav-social-links {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(60px,80px));
        justify-content: center;
        .mav-social-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background: $mav-color-background;
            border-radius: 50%;
            font-size: 1.25rem;
            @extend %mav-transition;
            &:hover {
                background: var(--mav-color-accent);
                @include text-contrast($mav-color-brand-accent);
            }
        }
    }
}