/**
 * Admin styles
 */

@import "mav-mixins";
@import "mav-variables";

#wpcontent {
    padding-right: 20px;
    @media #{$mav-phone} {
        padding-right: 10px;
    }
}

.mav-admin-page-wrapper, .mav-admin__page--wrp {
    display: grid;
    max-width: 100%;
    overflow: hidden;

    p {
        font-size: 1rem;
    }

    .mav-admin-page-container, .mav-admin__page--ctn {
        margin-top: var(--mav-gutter--lg);
        display: grid;
        grid-gap: var(--mav-gutter);
        @media #{$mav-desktop} {
            grid-template-columns: 1fr 1fr;
        }
    }

    h1 {
        font-size: 2rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 1.25rem;
        margin-top: var(--mav-gutter--lg);
        &:first-of-type {
            margin-top: 0;
        }
    }

    .mav-grid {
        display: grid;
        &[data-grid-gap] {
            grid-gap: var(--mav-gutter);
        }
    }

    .mav-brand-logo-buttons, .mav-brand__logo__buttons {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        grid-gap: var(--mav-gutter--sm);
    }

    form {
        display: grid;
        max-width: 100%;

        @media #{$mav-desktop} {
            max-width: 50vw;
        }

        label {
            // max-width: max-content;
        }

        input {
            box-shadow: none;
            padding: var(--mav-gutter--sm);
            &[type="color"] {
                padding: var(--mav-gutter--xs);
                width: 100%;
                height: 60px;
                display: block;
            }
        }

        .form-table {
            display: grid;
            align-items: center;
            background: rgba(#fff, .5);
            margin-top: var(--mav-gutter);
            border: 1px solid var(--mav-color--border);
            box-sizing: border-box;
            box-shadow: inset 4px 0 var(--mav-color--primary);
            tbody {
                padding: var(--mav-gutter);
                max-width: 100%;
            }
            tr {
                max-width: 100%;
                display: grid;
                grid-template-columns: 30% auto;
                grid-gap: var(--mav-gutter--sm);
                border-bottom: 1px solid var(--mav-color--border);
                &:only-child, &:last-child {
                    border-bottom: 0;
                }
                @media #{$mav-phone} {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: var(--mav-gutter);
                    &:only-child, &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            th, td {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                padding: 0;
            }
            th {
                width: 100%;
            }
            td {
                margin: var(--mav-gutter) 0;
            }
        }
    }

    .mav-admin {
        // Description
        &-desc {
            margin-top: var(--mav-gutter--xs);
            color: var(--mav-color__text--secondary);
        }
    }

    .mav-range-slider-ctn {
        display: flex;
        justify-content: space-between;
    }

    #mavid-settings-preview {
        img {
            max-width: 30%;
        }
        @media #{$mav-phone} {
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }
    }

    /* Theme Info */
    .mav-admin-theme-info-wrapper {
        .mav-admin-theme-info-ctn {
            padding: var(--mav-gutter--lg);
            background: white;
            border: 1px solid var(--mav-color--border);
            @media #{$mav-desktop} {
                max-width: 30vw;
                margin-left: auto;
            }
            @media #{$mav-phone} {
                padding: var(--mav-gutter);
            }
            .mav-theme-info-header {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-gap: var(--mav-gutter);
                align-items: center;
                margin-bottom: var(--mav-gutter--lg);
                p {
                    margin: 0;
                }
                @media #{$mav-phone} {
                    grid-template-columns: 1fr;
                }
            }
            .mav-admin-maverick-logo {
                display: block;
                width: 90px;
                height: 90px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
                @media #{$mav-phone} {
                    width: auto;
                    height: 50vw;
                }
            }
        }
    }
}

.mav-admin__color__preview__box {
    margin-top: var(--mav-gutter--xs);
    display: inline-block;
    height: 40px;
    border: var(--mav-border);
}

.mav-brand__logo__preview--ctn {
    img {
        max-width: 80px;
        height: auto;
        object-fit: contain;
    }
}