/**
 * Admin styles
 */

@import "mav-mixins";

@import "mav-variables";

#wpcontent {
    padding-right: 20px;
    @media #{$mav-phone} {
        padding-right: 10px;
    }
}

.mav-admin-page-wrapper {
    .mav-admin-page-container {
        background: white;
        margin-top: var(--mav-gutter-lg);
        padding: var(--mav-gutter);
    }
    h1 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .mav-grid {
        display: grid;
        &[data-grid-gap] {
            grid-gap: var(--mav-gutter-sm);
        }
    }

    .mav-admin-page-wrapper {
        @media #{$mav-desktop} {
            max-width: 40vw;
        }
    }

    .mav-admin-site-settings-wrapper {
        @media #{$mav-desktop} {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: var(--mav-gutter);
        }
    }

    .mav-brand-logo-buttons {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: var(--mav-gutter-sm);
    }

    form {
        label {
            max-width: max-content;
        }
        .form-table {
            margin: var(--mav-gutter) 0;;
            box-shadow: 0 1px #888;
            &:last-of-type {
                box-shadow: none;
            }
            @media #{$mav-desktop} {
                max-width: 50vw;
            }
            tr {
                display: grid;
                grid-template-columns: 250px 1fr;
                grid-gap: var(--mav-gutter-sm);
                padding: var(--mav-gutter) 0;
                // box-shadow: 0 1px var(--mav-color-border);
                &:last-of-type {
                    box-shadow: none;
                }
                &:last-child {
                    margin-bottom: var(--mav-gutter);
                }
                &:nth-child(even) {
                    // background: #fdfdfd;
                }
                @media #{$mav-phone} {
                    display: flex;
                    flex-direction: column;
                }
            }
            th, td {
                display: flex;
                flex-direction: column;
                padding: var(--mav-gutter-sm) 0;
                justify-content: center;
            }
            td {
                margin-bottom: 0;
            }
        }
    }

    .mav-admin {
        // Description
        &-desc {
            margin-top: var(--mav-gutter-xs);
            font-size: var(--mav-font-size-sm);
            color: var(--mav-color-text-secondary);
        }
    }

    .mav-range-slider-ctn{
        display: flex;
        justify-content: space-between;
    }

    #mavid-settings-preview {
        img {
            max-width: 30%;
        }
        @media #{$mav-phone} {
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }
    }

    .mav-desc {
        color: var(--mav-color-text-secondary);
    }
}