/**
 * Admin styles
 */

@import "mav-mixins";

@import "mav-variables";

.mav-grid {
    display: grid;
    &[data-grid-gap] {
        grid-gap: var(--mav-gutter-sm);
    }
}

.mav-admin-wrapper {
    padding-right: 20px;
}

.mav-admin-site-settings-wrapper {
    @media #{$mav-desktop} {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
 }

form {
    // display: grid;
    .form-table {
        box-shadow: 0 1px $mav-color-border;
        tr {
        }
        td {
            display: flex;
            flex-direction: column;
            width: auto;
            @media #{$mav-desktop} {
                max-width: 30vw;
            }
        }
    }
    input {
        &[data-visual="short"] {
            max-width: 25%;
        }
        &[data-visual="medium"] {
            max-width: 50%;
        }
        &[data-visual="long"] {
            max-width: 100%;
        }
    }
}

.mav-admin {
    &-desc {
        font-size: .8rem;
    }
}

.mav-range-slider-ctn{
    display: flex;
    justify-content: space-between;
}