/*
 * Maverick's CSS Framework
 * Version: 1.0
 * Author: Đoàn Công Minh
 * URI: www.maverick.vn
 */

@import "mav-css-reset";

@import "mav-mixins";

@import "mav-variables";

@import "mav-colors";

@import "mav-typography";

@import "mav-layout";

@import "mav-table";

@import "mav-buttons";

@import "mav-misc";

@import "mav-breadcrumbs";

@import "mav-form";

@import "mav-navigation-menus";

@import "mav-card";

@import "mav-sidebar";

@import "mav-page";

@import "mav-card-post";

@import "mav-post";

@import "mav-slider";

@import "mav-carousel";

@import "mav-post-grid";

@import "mav-lightbox";

@import "mav-post-feature";

img {
    @extend %mav-transition;
    &:hover {
        transform: scale(1.025);
    }
}

.mav-blog-sticky-post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20%,33%));
    grid-gap: var(--mav-gutter);
    justify-content: center;
}

/*
 * Items Grid
 */

.mav-items-grid-ctn {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @media #{$mav-phone} {
        grid-template-columns: repeat(1,1fr)!important;
    }
}

.mav-items-grid-item-ctn {
    @extend .mav-flex-center-all;
    flex-direction: column;
    padding: var(--mav-gutter-lg);
    border-left: 1px solid $mav-color-border;
    &[data-row="top"] {
        border-bottom: 1px solid $mav-color-border;
    }
    &[data-row="middle"] {
        border-bottom: 1px solid $mav-color-border;
    }
    &[data-column="left"] {
        border-left: 0;
    }
    @media #{$mav-phone} {
        border: 0px!important;
        border-bottom: 1px solid $mav-color-border!important;
        &:last-child {
            border-bottom: 0!important;
        }
    }
}